### 顧客利益テーブルの作成の実験

In [3]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import glob, sys, os, pickle
import japanize_matplotlib

import warnings
warnings.filterwarnings('ignore')

In [4]:
pd.options.display.max_columns = 1000
pd.options.display.max_rows = 100

In [5]:
data_dir = '/ex-ssd2/sec_mkt/data/sec/transaction/'
sec_201509_df = pd.read_pickle(data_dir + 'sec_201509.pkl')
display(sec_201509_df.head())
display(sec_201509_df.shape)

,注文ID,基準日,部店コード,口座番号,EC受注番号,注文/約定日時,マーケット発注日,取引種類,売買区分,銘柄コード,取引,市場,数量,値段1,注文期間,注文経路,出来数量,値段2,約定金額,指成区分,RBE注文種別,SOR区分,顧客ID
0,1010074021_048634_20150915113529,20150915,101,0074021,048634,20150915113529,20150915,1,U,7616,0,0,100,1712.0,20150915,,0,1712.0,0,,,,1010074021
1,1010074021_048681_20150917104054,20150917,101,0074021,048681,20150917104054,20150917,1,U,7616,0,X,100,1678.0,20150917,,100,1678.0,167800,,,4,1010074021
2,1010081574_048421_20150907090714,20150907,101,0081574,048421,20150907090714,20150907,1,K,4526,0,0,100,3920.0,20150907,0,100,3920.0,392000,,,,1010081574
3,1010128601_048559_20150911103454,20150911,101,0128601,048559,20150911103454,20150911,1,K,8964,0,0,1,448500.0,20150911,0,1,448500.0,448500,,,,1010128601
4,1010155799_048250_20150901090331,20150901,101,0155799,048250,20150901090331,20150901,1,U,1419,0,0,200,0.0,20150901,0,200,0.0,98200,N,,,1010155799

(11671724, 23)

In [7]:
sec_201509_df['isMargin'] = sec_201509_df['取引種類'].apply(lambda x: 1 if x in ['6', '7', 'G'] else 0)
sec_201509_df['isCash'] = sec_201509_df['取引種類'].apply(lambda x: 1 if x not in ['6', '7', 'G'] else 0)

In [8]:
customer_df = sec_201509_df[(sec_201509_df['約定金額'] != 0)]
display(customer_df.head())
display(customer_df.shape)

,注文ID,基準日,部店コード,口座番号,EC受注番号,注文/約定日時,マーケット発注日,取引種類,売買区分,銘柄コード,取引,市場,数量,値段1,注文期間,注文経路,出来数量,値段2,約定金額,指成区分,RBE注文種別,SOR区分,顧客ID,isMargin,isCash
1,1010074021_048681_20150917104054,20150917,101,0074021,048681,20150917104054,20150917,1,U,7616,0,X,100,1678.0,20150917,,100,1678.0,167800,,,4,1010074021,0,1
2,1010081574_048421_20150907090714,20150907,101,0081574,048421,20150907090714,20150907,1,K,4526,0,0,100,3920.0,20150907,0,100,3920.0,392000,,,,1010081574,0,1
3,1010128601_048559_20150911103454,20150911,101,0128601,048559,20150911103454,20150911,1,K,8964,0,0,1,448500.0,20150911,0,1,448500.0,448500,,,,1010128601,0,1
4,1010155799_048250_20150901090331,20150901,101,0155799,048250,20150901090331,20150901,1,U,1419,0,0,200,0.0,20150901,0,200,0.0,98200,N,,,1010155799,0,1
5,1010305987_048540_20150910215157,20150914,101,0305987,048540,20150910215157,20150911,1,U,3863,0,0,500,2150.0,20150924,,500,2150.0,1075000,,,,1010305987,0,1

(7263259, 25)

In [9]:
group_list = ['顧客ID', '銘柄コード']
customer_cnt = customer_df.groupby(group_list).agg({'顧客ID': 'count' , 'isMargin': 'max', 'isCash': 'max'})
customer_cnt.columns = ['tran_count', 'isMargin', 'isCash']
customer_cnt

                  tran_count  isMargin  isCash
顧客ID       銘柄コード
1010016624 9423            1         0       1
1010022179 3266            1         0       1
           3587            1         0       1
           7824            1         0       1
1010022438 1820            1         0       1
           6140            1         0       1
           6779            1         0       1
1010029807 6176            1         0       1
1010050202 1802            1         0       1
1010064467 2768            1         0       1
1010072567 1802            2         1       0
           6645            1         1       0
1010073016 5019            1         0       1
1010074021 2702            2         0       1
           7412            2         0       1
           7616            1         0       1
1010078760 2337            1         0       1
           3319            1         0       1
1010081302 5401            1         0       1
1010081574 4526            1         0       1
           9735            1         0       1
1010085294 4502            1         0       1
1010087858 8058            1         0       1
1010088366 8604            1         0       1
1010088889 3407            1         0       1
1010123030 4188            1         0       1
           6767            1         0       1
1010124281 3027            1         0       1
           3180            1         0       1
1010127116 5802            4         0       1
1010128601 3226            1         0       1
           3263            1         0       1
           3296            1         0       1
           3455            1         0       1
           4565            1         0       1
           6645            1         0       1
           6963            1         0       1
           8964            1         0       1
           9003            1         0       1
           9021            1         0       1
           9042            1         0       1
1010135640 1802            2         0       1
           8306            1         0       1
1010146021 3694            1         0       1
           3844            1         0       1
1010150932 3285            2         0       1
           5020            1         0       1
           8961            1         0       1
1010151033 3415            1         0       1
1010151793 1580            2         0       1
...                      ...       ...     ...
Z890308013 5216            1         0       1
           6072            2         0       1
           7013            1         0       1
           8473            3         0       1
           9385            2         0       1
           9501            2         0       1
Z890308056 1570            4         0       1
           1571            2         0       1
Z890308064 4661            1         0       1
Z890308081 4188            1         0       1
Z890308226 3296            1         0       1
           3298            1         0       1
Z890308315 2749            2         0       1
           2929            2         0       1
           3751            2         0       1
           4579            2         0       1
           7608            2         0       1
Z890308323 8031            1         0       1
           8035            1         0       1
Z890308366 6301            1         0       1
Z890308404 1963            1         0       1
Z890308412 1963            1         0       1
           9104            1         0       1
Z890308510 6758            2         0       1
Z890308561 4064            3         0       1
           8411            1         0       1
Z890308595 3137            1         0       1
           6325            7         0       1
Z890308609 2144            3         0       1
           5942            1         0       1
Z890308633 8595            2         1       0
Z890308676 2467            2         0       1
           4714            1         0       1
Z890308714 7867            1         0       1
           8136            1         0       1
Z890308722 2743            1         0       1
Z890308731 8920            1         0       1
Z890308757 8242            1         0       1
Z890308781 3692            3         0       1
           3914            3         0       1
           5288            1         0       1
           7203            2         0       1
Z890308790 4661            1         0       1
Z890308803 7261            1         0       1
           8411            1         0       1
Z890308820 6502            1         0       1
           8411            1         0       1
           9984            1         0       1
Z890308986 4568            1         0       1
           4771            1         0       1

[1801730 rows x 3 columns]

In [10]:
customer_cnt_df = customer_cnt[((customer_cnt['tran_count'] >= 10) & (customer_cnt['tran_count'] <= 20)) & 
                               ((customer_cnt['isMargin'] == 1) & (customer_cnt['isCash'] == 1))].reset_index()
customer_cnt_df

             顧客ID 銘柄コード  tran_count  isMargin  isCash
0      1170003115  7284          12         1       1
1      1320008621  9501          12         1       1
2      1400402168  1570          10         1       1
3      1460400602  4301          11         1       1
4      1460400602  6502          17         1       1
5      1460400602  7203          20         1       1
6      1470400645  6768          19         1       1
7      1470400645  7844          11         1       1
8      1530950092  9508          19         1       1
9      1570400572  2651          14         1       1
10     1570400572  8028          18         1       1
11     1570400572  9437          10         1       1
12     1600400564  9831          14         1       1
13     1610400742  2432          11         1       1
14     1610400742  4978          17         1       1
15     1610400742  5959          12         1       1
16     3010000183  2432          14         1       1
17     3010000183  4080          10         1       1
18     3010002259  4579          15         1       1
19     3010003867  7013          14         1       1
20     3010010138  4005          20         1       1
21     3010017418  4678          14         1       1
22     3010018091  1579          11         1       1
23     3010019828  6636          11         1       1
24     3010019828  7836          16         1       1
25     3010026620  1928          19         1       1
26     3010026620  3048          13         1       1
27     3010028819  3526          14         1       1
28     3010028819  5007          12         1       1
29     3010028819  8316          10         1       1
30     3010028819  8601          13         1       1
31     3010028819  8732          14         1       1
32     3010038164  6502          15         1       1
33     3010042846  8267          11         1       1
34     3010042846  9501          12         1       1
35     3010043613  8267          12         1       1
36     3010044652  3099          14         1       1
37     3010047902  9424          18         1       1
38     3010058190  1570          15         1       1
39     3010062561  6902          11         1       1
40     3010062561  7267          11         1       1
41     3010062561  7270          20         1       1
42     3010065749  1321          17         1       1
43     3010065749  2321          12         1       1
44     3010068802  1433          17         1       1
45     3010069116  1433          18         1       1
46     3010069116  3656          18         1       1
47     3010069116  3692          14         1       1
48     3010069116  4571          12         1       1
49     3010075248  1963          12         1       1
...           ...   ...         ...       ...     ...
15605  Z890283207  5401          10         1       1
15606  Z890284084  1570          10         1       1
15607  Z890284998  6619          12         1       1
15608  Z890289990  1357          18         1       1
15609  Z890290602  4612          12         1       1
15610  Z890290602  4755          13         1       1
15611  Z890290602  5110          18         1       1
15612  Z890290602  6460          14         1       1
15613  Z890290602  6471          16         1       1
15614  Z890290602  6481          16         1       1
15615  Z890290602  8411          16         1       1
15616  Z890290602  8591          10         1       1
15617  Z890290602  8795          12         1       1
15618  Z890291510  1811          11         1       1
15619  Z890292214  1570          10         1       1
15620  Z890292214  6047          15         1       1
15621  Z890292214  9433          12         1       1
15622  Z890295108  2193          10         1       1
15623  Z890295108  9603          20         1       1
15624  Z890296112  4751          11         1       1
15625  Z890296279  1309          12         1       1
15626  Z890296279  1712          15         1       1
15627  Z890296279  1813          10         1       1
15628  Z890296279  2162          18         1       1
15629  Z890296279  2178          13         1       1
15630  Z890296279  3662          12         1       1
15631  Z890296279  4041          11         1       1
15632  Z890296279  4366          11         1       1
15633  Z890296279  5337          16         1       1
15634  Z890296279  6134          12         1       1
15635  Z890296279  6502          14         1       1
15636  Z890296279  6966          11         1       1
15637  Z890296279  9681          16         1       1
15638  Z890299138  1808          12         1       1
15639  Z890299138  3692          17         1       1
15640  Z890299138  6954          16         1       1
15641  Z890299138  8035          12         1       1
15642  Z890299138  8316          15         1       1
15643  Z890299138  9020          20         1       1
15644  Z890299138  9021          18         1       1
15645  Z890299138  9984          14         1       1
15646  Z890301949  6841          15         1       1
15647  Z890306592  1357          12         1       1
15648  Z890306606  1417          16         1       1
15649  Z890306606  1721          11         1       1
15650  Z890306606  4301          16         1       1
15651  Z890306606  7860          15         1       1
15652  Z890306606  9404          12         1       1
15653  Z890307599  1579          17         1       1
15654  Z890307599  8306          11         1       1

[15655 rows x 5 columns]

In [11]:
for idx, row in customer_cnt_df.iterrows():
    sample_customer_df = customer_df[(customer_df['顧客ID'] == row[0]) & (customer_df['銘柄コード'] == row[1])]
    display(sample_customer_df[['注文/約定日時', '取引種類', '売買区分', '銘柄コード', 
                                '取引', '市場', '数量', '値段1', '出来数量', '指成区分', 'RBE注文種別', '顧客ID']])
    if idx >= 10:
        break

,注文/約定日時,取引種類,売買区分,銘柄コード,取引,市場,数量,値段1,出来数量,指成区分,RBE注文種別,顧客ID
6422769,20150901092335,6,K,7284,3,0,2000,126.0,2000,,,1170003115
6422770,20150901143138,7,U,7284,3,0,3000,131.0,3000,,,1170003115
6422771,20150902091541,1,U,7284,0,0,1000,145.0,1000,,,1170003115
6422773,20150902145121,5,K,7284,0,0,2000,125.0,2000,,,1170003115
6422776,20150903115313,6,K,7284,3,0,3000,124.0,3000,,,1170003115
6422778,20150904133333,6,K,7284,3,0,2000,119.0,2000,,,1170003115
6422793,20150924091636,7,U,7284,3,0,2000,120.0,2000,,,1170003115
6422796,20150924125030,6,K,7284,3,0,2000,116.0,2000,,,1170003115
6422798,20150925083733,7,U,7284,3,0,2000,119.0,2000,,,1170003115
6422800,20150925091625,6,K,7284,3,0,2000,116.0,2000,,,1170003115
6422801,20150925103543,7,U,7284,3,0,2000,118.0,1000,,,1170003115
6422802,20150928083747,7,U,7284,3,0,100,1180.0,100,,,1170003115

,注文/約定日時,取引種類,売買区分,銘柄コード,取引,市場,数量,値段1,出来数量,指成区分,RBE注文種別,顧客ID
2917725,20150902091142,6,K,9501,3,0,100,772.0,100,,,1320008621
2917726,20150902093457,7,U,9501,3,0,100,786.0,100,,,1320008621
2917730,20150907091300,5,K,9501,0,0,100,763.0,100,,,1320008621
2917732,20150907095955,6,K,9501,3,0,100,775.0,100,,,1320008621
2917733,20150907100232,6,K,9501,3,0,100,775.0,100,,,1320008621
2917734,20150907101158,6,K,9501,3,0,100,769.0,100,,,1320008621
2917738,20150907140452,6,K,9501,3,0,100,769.0,100,,,1320008621
2917741,20150908091000,7,U,9501,3,0,400,778.0,400,F,,1320008621
2917745,20150929124959,6,K,9501,3,0,100,789.0,100,,,1320008621
2917746,20150929130909,6,K,9501,3,0,100,788.0,100,,,1320008621
2917747,20150929135822,6,K,9501,3,0,100,786.0,100,,,1320008621
2917751,20150930135242,7,U,9501,3,0,300,795.0,300,,,1320008621

,注文/約定日時,取引種類,売買区分,銘柄コード,取引,市場,数量,値段1,出来数量,指成区分,RBE注文種別,顧客ID
10499182,20150902102817,6,K,1570,3,0,300,14400.0,300,,SLO,1400402168
10499190,20150917083319,7,U,1570,3,0,100,14180.0,100,,,1400402168
10499191,20150917083409,7,U,1570,3,0,100,14310.0,100,,,1400402168
10499193,20150924094119,6,K,1570,3,0,200,0.0,200,N,,1400402168
10499194,20150924094527,7,U,1570,3,0,200,0.0,200,N,SLO,1400402168
10499195,20150924145712,6,K,1570,3,0,100,0.0,100,N,,1400402168
10499196,20150925090328,7,U,1570,3,0,100,0.0,100,N,SLO,1400402168
10499197,20150929100900,7,U,1570,3,0,100,0.0,100,N,,1400402168
10499198,20150929145035,5,K,1570,0,7,100,12190.0,100,,,1400402168
11089486,20150930143249,1,U,1570,0,0,100,12810.0,100,,,1400402168

,注文/約定日時,取引種類,売買区分,銘柄コード,取引,市場,数量,値段1,出来数量,指成区分,RBE注文種別,顧客ID
9332492,20150915092824,7,U,4301,3,0,200,5300.0,200,,,1460400602
9332494,20150916090449,1,U,4301,0,0,500,5350.0,500,,,1460400602
9332495,20150916112347,6,U,4301,3,0,500,0.0,500,N,,1460400602
9332496,20150916124214,7,K,4301,3,0,500,0.0,500,N,SLO,1460400602
9332497,20150916132335,6,K,4301,3,0,500,0.0,500,N,,1460400602
9332500,20150918094001,7,U,4301,3,0,300,5300.0,300,,,1460400602
9332502,20150925075704,6,U,4301,3,0,500,0.0,500,N,,1460400602
9332503,20150925094056,7,K,4301,3,0,500,0.0,500,N,,1460400602
9332504,20150929090233,7,U,4301,3,0,200,0.0,200,N,,1460400602
9332505,20150929130117,6,K,4301,3,0,500,4960.0,500,,,1460400602
9332506,20150930091435,7,U,4301,3,0,500,5210.0,500,,,1460400602

,注文/約定日時,取引種類,売買区分,銘柄コード,取引,市場,数量,値段1,出来数量,指成区分,RBE注文種別,顧客ID
2917857,20150901082808,6,U,6502,3,0,20000,0.0,20000,N,,1460400602
2917860,20150902093913,7,K,6502,3,0,20000,0.0,20000,N,SLO,1460400602
2917861,20150902142651,6,U,6502,3,0,10000,0.0,10000,N,,1460400602
2917862,20150903131835,6,U,6502,3,0,10000,364.0,10000,,,1460400602
2917863,20150903132025,5,K,6502,0,0,12000,363.9,12000,,,1460400602
2917864,20150904091746,6,U,6502,3,0,10000,357.6,10000,,,1460400602
2917865,20150904092003,1,U,6502,0,0,12000,358.0,12000,,,1460400602
2917866,20150904094012,7,K,6502,3,0,30000,0.0,30000,N,SLO,1460400602
2917867,20150910100006,6,U,6502,3,0,15000,332.8,15000,,,1460400602
2917869,20150915102713,7,K,6502,3,0,5000,0.0,5000,N,SLO,1460400602
2917870,20150915103308,6,K,6502,3,0,10000,0.0,10000,N,,1460400602
2917873,20150916092033,7,K,6502,3,0,10000,0.0,10000,N,,1460400602
2917874,20150916110258,7,U,6502,3,0,10000,0.0,10000,N,,1460400602
2917875,20150916110510,6,U,6502,3,0,10000,314.0,10000,,,1460400602
2917876,20150916154616,6,U,6502,3,0,5000,0.0,5000,N,,1460400602
2917877,20150917092522,6,U,6502,3,0,10000,330.0,10000,,,1460400602
2917878,20150918091552,7,K,6502,3,0,25000,0.0,25000,N,SLO,1460400602

,注文/約定日時,取引種類,売買区分,銘柄コード,取引,市場,数量,値段1,出来数量,指成区分,RBE注文種別,顧客ID
8168178,20150901141311,6,K,7203,3,0,1000,7005.0,1000,,,1460400602
8168179,20150903072259,6,K,7203,3,0,1000,0.0,1000,N,,1460400602
8168180,20150903123812,7,U,7203,3,0,7000,0.0,7000,N,SLO,1460400602
8168182,20150903131627,6,U,7203,3,0,3000,0.0,3000,N,,1460400602
8168183,20150904090448,7,K,7203,3,0,3000,0.0,3000,N,SLO,1460400602
8168184,20150904093058,6,K,7203,3,0,3000,7119.0,3000,,,1460400602
8168185,20150904094801,5,K,7203,0,0,500,7114.0,500,,,1460400602
8168186,20150904135215,6,K,7203,3,0,1000,0.0,1000,N,,1460400602
8168187,20150904135554,6,K,7203,3,0,1000,0.0,1000,N,,1460400602
8168190,20150909155853,7,U,7203,3,0,5000,0.0,5000,N,SLO,1460400602
8168191,20150910090846,6,K,7203,3,0,5000,7200.0,5000,,,1460400602
8168192,20150916111213,7,U,7203,3,0,5000,7395.0,5000,,,1460400602
8168193,20150916112226,6,U,7203,3,0,4000,0.0,4000,N,,1460400602
8168195,20150916132009,1,U,7203,0,0,2000,0.0,2000,N,,1460400602
8168196,20150917093846,6,U,7203,3,0,1000,7393.0,1000,,,1460400602
8168197,20150917111839,7,K,7203,3,0,2500,7265.0,2500,,,1460400602
8168198,20150917135133,7,K,7203,3,0,2500,7200.0,2500,,,1460400602
8168199,20150917141011,6,K,7203,3,0,6000,0.0,6000,N,,1460400602
8168201,20150929130011,6,K,7203,3,0,1000,6700.0,1000,,,1460400602
8168202,20150930091515,5,K,7203,0,0,300,0.0,300,N,,1460400602

,注文/約定日時,取引種類,売買区分,銘柄コード,取引,市場,数量,値段1,出来数量,指成区分,RBE注文種別,顧客ID
8748636,20150903122744,6,U,6768,3,0,1000,355.0,1000,,,1470400645
8748638,20150903134208,7,K,6768,3,0,1000,340.0,1000,,,1470400645
8748640,20150908094541,6,U,6768,3,0,1000,335.0,1000,,,1470400645
8748641,20150908095955,7,K,6768,3,0,1000,331.0,1000,,,1470400645
8748643,20150909084235,6,U,6768,3,0,1000,348.0,1000,,,1470400645
8748645,20150909094740,6,U,6768,3,0,1000,351.0,1000,,,1470400645
8748647,20150909134257,1,U,6768,0,0,1000,351.0,1000,,,1470400645
8748648,20150909134945,5,K,6768,0,0,1000,338.0,1000,,,1470400645
8748650,20150910092251,7,K,6768,3,0,1000,342.0,1000,,,1470400645
8748651,20150910092329,7,K,6768,3,0,1000,335.0,1000,,,1470400645
8748654,20150916092522,6,U,6768,3,0,1000,362.0,1000,,,1470400645
8748655,20150916095236,7,K,6768,3,0,1000,348.0,1000,,,1470400645
8748657,20150917090453,6,U,6768,3,0,1000,370.0,1000,,,1470400645
8748658,20150917092137,6,U,6768,3,0,1000,377.0,1000,,,1470400645
8748659,20150917094543,7,K,6768,3,0,1000,355.0,1000,,,1470400645
8748660,20150917100059,7,K,6768,3,0,1000,360.0,1000,,,1470400645
8748662,20150924100927,5,K,6768,0,0,1000,348.0,1000,,,1470400645
8748663,20150925013136,1,U,6768,0,0,1000,350.0,1000,,,1470400645
8748665,20150928091924,5,K,6768,0,0,1000,340.0,1000,,,1470400645

,注文/約定日時,取引種類,売買区分,銘柄コード,取引,市場,数量,値段1,出来数量,指成区分,RBE注文種別,顧客ID
6423170,20150825174941,5,K,7844,0,0,100,860.0,100,,,1470400645
6423171,20150826011023,1,U,7844,0,0,100,1240.0,100,,,1470400645
6423173,20150904092801,6,U,7844,3,0,100,1095.0,100,,,1470400645
6423174,20150904093253,7,K,7844,3,0,100,1020.0,100,,,1470400645
6423175,20150904100006,6,U,7844,3,0,100,1070.0,100,,,1470400645
6423176,20150904100423,7,K,7844,3,0,100,1016.0,100,,,1470400645
6423177,20150907103751,1,U,7844,0,0,100,1130.0,100,,,1470400645
6423178,20150909105642,5,K,7844,0,0,100,1010.0,100,,,1470400645
6423181,20150911100849,5,K,7844,0,0,100,980.0,100,,,1470400645
6423185,20150917091312,1,U,7844,0,0,100,1010.0,100,,,1470400645
6423186,20150917135220,5,K,7844,0,0,100,976.0,100,,,1470400645

,注文/約定日時,取引種類,売買区分,銘柄コード,取引,市場,数量,値段1,出来数量,指成区分,RBE注文種別,顧客ID
2332393,20150902063352,1,U,9508,0,0,15200,0.0,15200,N,,1530950092
2332394,20150902090936,G,K,9508,3,0,4200,1598.0,4200,,,1530950092
2332395,20150902091019,G,K,9508,3,0,3700,1494.0,3700,,,1530950092
2332396,20150902091053,G,K,9508,3,0,2200,1496.0,2200,,,1530950092
2332397,20150902091109,G,K,9508,3,0,1400,1495.0,1400,,,1530950092
2332398,20150902091123,G,K,9508,3,0,1200,1492.0,1200,,,1530950092
2332399,20150902091234,G,K,9508,3,0,200,1490.0,200,,,1530950092
2332400,20150902105646,G,K,9508,3,0,400,1493.0,400,,,1530950092
2332401,20150903053736,G,K,9508,3,0,200,1493.0,200,,,1530950092
2332402,20150903053749,G,K,9508,3,0,100,1491.0,100,,,1530950092
2332403,20150904070947,G,K,9508,3,0,600,1491.0,600,,,1530950092
2332404,20150909102100,6,K,9508,3,0,1000,1390.0,1000,,,1530950092
2332405,20150909102700,6,K,9508,3,0,1000,1380.0,1000,,,1530950092
2332407,20150909103922,6,K,9508,3,0,1000,1385.0,1000,,,1530950092
2332409,20150909122935,7,U,9508,3,0,3000,1400.0,3000,,,1530950092
2332412,20150916093933,6,K,9508,3,0,1000,1395.0,1000,,,1530950092
2332413,20150916094008,6,K,9508,3,0,1000,1392.0,1000,,,1530950092
2332414,20150916094035,6,K,9508,3,0,1000,1390.0,1000,,,1530950092
2332416,20150916103141,6,K,9508,3,0,1000,1370.0,1000,,,1530950092

,注文/約定日時,取引種類,売買区分,銘柄コード,取引,市場,数量,値段1,出来数量,指成区分,RBE注文種別,顧客ID
1165320,20150909092744,5,K,2651,0,0,100,8150.0,100,,,1570400572
1165321,20150911105641,1,U,2651,0,X,100,8450.0,100,N,,1570400572
1165322,20150915090004,5,K,2651,0,X,100,8700.0,100,N,,1570400572
1165323,20150915090658,5,K,2651,0,X,100,8590.0,100,,,1570400572
1165324,20150915092447,1,U,2651,0,X,100,8630.0,100,,,1570400572
1165325,20150915095946,1,U,2651,0,0,100,8740.0,100,,,1570400572
1165326,20150918091535,5,K,2651,0,X,100,8430.0,100,,,1570400572
1165327,20150928090902,1,U,2651,0,7,100,8630.0,100,N,,1570400572
1165328,20150929090015,5,K,2651,0,X,100,8610.0,100,N,,1570400572
1165329,20150929093529,1,U,2651,0,7,100,8740.0,100,N,,1570400572
1165330,20150929100120,5,K,2651,0,0,100,8630.0,100,,,1570400572
1165331,20150929102441,6,K,2651,3,0,100,8620.0,100,,,1570400572
1165332,20150930090402,7,U,2651,3,0,100,0.0,100,N,,1570400572
1165333,20150930090755,1,U,2651,0,7,100,8740.0,100,N,,1570400572

,注文/約定日時,取引種類,売買区分,銘柄コード,取引,市場,数量,値段1,出来数量,指成区分,RBE注文種別,顧客ID
2917967,20150909093329,5,K,8028,0,0,100,5210.0,100,,,1570400572
2917969,20150911105814,1,U,8028,0,7,100,5360.0,100,N,,1570400572
2917972,20150915090221,5,K,8028,0,X,100,5580.0,100,,,1570400572
2917974,20150915104216,1,U,8028,0,0,100,5580.0,100,,,1570400572
2917978,20150916091600,5,K,8028,0,X,100,5450.0,100,,,1570400572
2917979,20150916092407,5,K,8028,0,X,100,5440.0,100,,,1570400572
2917980,20150916092712,1,U,8028,0,X,200,5400.0,200,N,,1570400572
2917981,20150918091721,5,K,8028,0,0,100,5310.0,100,,,1570400572
2917984,20150924102122,5,K,8028,0,0,100,5430.0,100,,,1570400572
2917985,20150924145336,6,K,8028,3,0,100,5350.0,100,,,1570400572
2917987,20150928091027,7,U,8028,3,0,100,0.0,100,N,,1570400572
2917989,20150928091535,1,U,8028,0,X,200,5330.0,200,N,,1570400572
2917991,20150929090509,5,K,8028,0,7,100,5350.0,100,N,,1570400572
2917994,20150929093722,1,U,8028,0,7,100,5410.0,100,N,,1570400572
2917995,20150929100419,5,K,8028,0,0,100,5340.0,100,,,1570400572
2917998,20150929102103,6,K,8028,3,0,100,0.0,100,N,,1570400572
2917999,20150930090539,7,U,8028,3,0,100,0.0,100,N,,1570400572
2918000,20150930090848,1,U,8028,0,7,100,5460.0,100,N,,1570400572

In [12]:
sample_customer_df = customer_df[(customer_df['顧客ID'] == '1460400602') & (customer_df['銘柄コード'] == '7203')]
display(sample_customer_df[['注文/約定日時', '取引種類', '売買区分', '銘柄コード', 
                            '取引', '市場', '数量', '値段1', '出来数量', '値段2', '約定金額', '指成区分', 'RBE注文種別', '顧客ID']])
display(sample_customer_df.shape)

,注文/約定日時,取引種類,売買区分,銘柄コード,取引,市場,数量,値段1,出来数量,値段2,約定金額,指成区分,RBE注文種別,顧客ID
8168178,20150901141311,6,K,7203,3,0,1000,7005.0,1000,7005.0,7005000,,,1460400602
8168179,20150903072259,6,K,7203,3,0,1000,0.0,1000,0.0,7093000,N,,1460400602
8168180,20150903123812,7,U,7203,3,0,7000,0.0,7000,0.0,51030700,N,SLO,1460400602
8168182,20150903131627,6,U,7203,3,0,3000,0.0,3000,0.0,21932300,N,,1460400602
8168183,20150904090448,7,K,7203,3,0,3000,0.0,3000,0.0,21322100,N,SLO,1460400602
8168184,20150904093058,6,K,7203,3,0,3000,7119.0,3000,7119.0,21351000,,,1460400602
8168185,20150904094801,5,K,7203,0,0,500,7114.0,500,7114.0,3557000,,,1460400602
8168186,20150904135215,6,K,7203,3,0,1000,0.0,1000,0.0,6972800,N,,1460400602
8168187,20150904135554,6,K,7203,3,0,1000,0.0,1000,0.0,6972000,N,,1460400602
8168190,20150909155853,7,U,7203,3,0,5000,0.0,5000,0.0,36069900,N,SLO,1460400602
8168191,20150910090846,6,K,7203,3,0,5000,7200.0,5000,7200.0,36000000,,,1460400602
8168192,20150916111213,7,U,7203,3,0,5000,7395.0,5000,0.0,36591800,,,1460400602
8168193,20150916112226,6,U,7203,3,0,4000,0.0,4000,0.0,29271600,N,,1460400602
8168195,20150916132009,1,U,7203,0,0,2000,0.0,2000,0.0,14605500,N,,1460400602
8168196,20150917093846,6,U,7203,3,0,1000,7393.0,1000,7393.0,7395000,,,1460400602
8168197,20150917111839,7,K,7203,3,0,2500,7265.0,2500,0.0,18340700,,,1460400602
8168198,20150917135133,7,K,7203,3,0,2500,7200.0,2500,0.0,18345000,,,1460400602
8168199,20150917141011,6,K,7203,3,0,6000,0.0,6000,0.0,44073400,N,,1460400602
8168201,20150929130011,6,K,7203,3,0,1000,6700.0,1000,6700.0,6700000,,,1460400602
8168202,20150930091515,5,K,7203,0,0,300,0.0,300,0.0,2067900,N,,1460400602

(20, 25)

### kabuoji3の読み込み

In [130]:
read_dir = '/ex-ssd2/sec_mkt/data/kabuoji3/'
stock_price_chart = pd.read_csv(read_dir + 'chart_20150105_20191031.csv')

In [211]:
stock_df = stock_price_chart[(stock_price_chart['銘柄コード'] == 7203) & (stock_price_chart['日付'].str.contains('2015-09'))]
stock_df

,銘柄コード,日付,始値,高値,安値,終値,出来高,終値調整値,date
2898249,7203,2015-09-01,7124.0,7178.0,7000.0,7000.0,9876600,7000.0,2015-09-01
2898250,7203,2015-09-02,6860.0,7168.0,6840.0,7015.0,13797900,7015.0,2015-09-02
2898251,7203,2015-09-03,7093.0,7355.0,7092.0,7185.0,14061100,7185.0,2015-09-03
2898252,7203,2015-09-04,7215.0,7258.0,6911.0,7004.0,11865100,7004.0,2015-09-04
2898253,7203,2015-09-07,6922.0,7108.0,6846.0,7089.0,12347200,7089.0,2015-09-07
2898254,7203,2015-09-08,7088.0,7165.0,7030.0,7050.0,11084400,7050.0,2015-09-08
2898255,7203,2015-09-09,7227.0,7491.0,7209.0,7491.0,17210800,7491.0,2015-09-09
2898256,7203,2015-09-10,7220.0,7340.0,7103.0,7175.0,16163500,7175.0,2015-09-10
2898257,7203,2015-09-11,7025.0,7151.0,7008.0,7072.0,15991700,7072.0,2015-09-11
2898258,7203,2015-09-14,7100.0,7145.0,7005.0,7007.0,10029500,7007.0,2015-09-14
2898259,7203,2015-09-15,7060.0,7276.0,7043.0,7161.0,13572300,7161.0,2015-09-15
2898260,7203,2015-09-16,7273.0,7368.0,7201.0,7297.0,9274500,7297.0,2015-09-16
2898261,7203,2015-09-17,7347.0,7434.0,7275.0,7338.0,9825500,7338.0,2015-09-17
2898262,7203,2015-09-18,7251.0,7283.0,7160.0,7234.0,10209100,7234.0,2015-09-18
2898263,7203,2015-09-24,7150.0,7222.0,7100.0,7100.0,12988800,7100.0,2015-09-24
2898264,7203,2015-09-25,7113.0,7270.0,7037.0,7195.0,12788400,7195.0,2015-09-25
2898265,7203,2015-09-28,7195.0,7250.0,7016.0,7049.0,10637700,7049.0,2015-09-28
2898266,7203,2015-09-29,6910.0,6922.0,6669.0,6719.0,15795500,6719.0,2015-09-29
2898267,7203,2015-09-30,6823.0,7039.0,6780.0,6971.0,13478800,6971.0,2015-09-30

9月の調整値抽出

In [212]:
stock_df['date'].dtypes

dtype('<M8[ns]')

In [213]:
stock_df['date'] = pd.to_datetime(stock_df['date'])

In [214]:
stock_201509 = pd.DataFrame([stock_df['date'].dt.strftime('%Y%m%d'), stock_df['終値調整値']]).T
stock_201509.columns = ['マーケット発注日', '終値調整値']
stock_201509

         マーケット発注日 終値調整値
2898249  20150901  7000
2898250  20150902  7015
2898251  20150903  7185
2898252  20150904  7004
2898253  20150907  7089
2898254  20150908  7050
2898255  20150909  7491
2898256  20150910  7175
2898257  20150911  7072
2898258  20150914  7007
2898259  20150915  7161
2898260  20150916  7297
2898261  20150917  7338
2898262  20150918  7234
2898263  20150924  7100
2898264  20150925  7195
2898265  20150928  7049
2898266  20150929  6719
2898267  20150930  6971

### Gの人抽出
3010128708

2461

### 顧客損益比較グラフ作成

作ったExcelと同じになるか実験してみる

In [ ]:
sample_customer_df = customer_df[(customer_df['顧客ID'] == '1460400602') & 
                                 (customer_df['銘柄コード'] == '7203')].iloc[0:14]
display(sample_customer_df)
display(sample_customer_df.shape)

### 全取引テーブルを顧客・銘柄で分割して、日付順に並んだDFを関数にかけて、戻ってきたDFを最後に結合する

In [200]:
def mergin_fill_value(df, col, kind, seg, UKflag):
    #買い取引の場合

    #信用買い変動補正前
    data = df[(df['取引種類'] == kind) & (df['売買区分'] == seg)]['出来数量']
    idx = data.index
    val = data.values
    if UKflag == 0:
        if kind == '6':
            df.loc[idx, col] = val
        else:
            df.loc[idx, col] = -val
    #売り取引の場合
    if UKflag == 1:
    #信用売り変動補正前
        if kind == '6':
            df.loc[idx, col] = -val
        else:
            df.loc[idx, col] = val
    return df.fillna(0)

def cash_fill_value(df, col, kind, seg):
    #現物取引の場合
        data = df[(df['取引種類'] == kind) & (df['売買区分'] == seg)]['出来数量']
        idx = data.index
        val = data.values
        if seg == 'K':
            df.loc[idx, col] = val
        else:
            df.loc[idx, col] = -val
        return df.fillna(0)
    
# def cumsum_non_zero(x):
#     cum_x = max(0, x.cumsum())
#     return cum_x

def balance_check(df, kind):
    if df['取引種類'] == kind:
        val = 0
    else:
        val = -1 * df['約定金額'] * (df['全株保有数'] / df['出来数量'])
    df['現金変動'] = val
    return df

def investment_calc(df, kind, seg):
    if kind == '7' | ((kind == '1' | kind == '5') & (seg == 'U')) | kind == 'G':
        val = 0
    else:
        val = df[(df['取引種類'] == kind) & (df['売買区分'] == seg)]['約定金額']
    df['投資金額変動'] = val
    return df

### 関数を分解して実行していく

In [72]:
def create_profit_calc_table(df):
    #現物取引の株数と株数変動
    
    #現物取引
    df = cash_fill_value(df, '現物変動補正前', '1', 'K')
    df = cash_fill_value(df, '現物変動補正前', '5', 'K')
    df = cash_fill_value(df, '現物変動補正前', 'G', 'K')
    df = cash_fill_value(df, '現物変動補正前', '1', 'U')
    df = cash_fill_value(df, '現物変動補正前', '5', 'U')
    df = cash_fill_value(df, '現物変動補正前', 'G', 'U')
    df['現物'] = df['現物変動補正前'].apply(cumsum_non_zero)
    df['現物変動'] = df['現物'] - df['現物'].shift(1)
    
    #信用買い取引
    df = mergin_fill_value(df, '信用買い変動補正前', '6', 'K', 0)
    df = mergin_fill_value(df, '信用買い変動補正前', '7', 'U', 0)
    df = mergin_fill_value(df, '信用買い変動補正前', 'G', 'K', 0)
    df['信用買い'] = df['信用買い変動補正前'].apply(cumsum_non_zero)
    df['信用買い変動'] = df['信用買い'] - df['信用買い'].shift(1)
    
    #信用売り取引
    df = mergin_fill_value(df, '信用売り変動', '7', 'K', 1)
    df = mergin_fill_value(df, '信用売り変動', '6', 'U', 1)
    df = mergin_fill_value(df, '信用売り変動', 'G', 'U', 1)
#     df['信用売り変動'] = df[(df['取引種類'] == '7') & (df['売買区分'] == 'K')]['出来数量']
#     df['信用売り変動'] = -df[(df['取引種類'] == '6') & (df['売買区分'] == 'U')]['出来数量']
#     df['信用売り変動'] = df[(df['取引種類'] == 'G') & (df['売買区分'] == 'U')]['出来数量']
    df['信用売り'] = df['信用売り変動'] + df['信用売り'].shift(1)

    #株価評価額
    df['株価評価額'] = df['終値調整値'] * df['現物'] * df['信用買い'] * df['信用売り']
    df['株価評価額変動'] = df['株価評価額'] - df['株価評価額'].shift(1)
    
    #全株保有数
    df['全株保有数'] = df['現物変動'] + df['信用買い変動'] + df['信用売り変動']
    #残高
    df = balance_check(df, 'G')
    df = balance_check(df, '')
    df['現金'] = df['現金変動'] + df['現金'].shift(1)
    
    #合計評価額
    df['評価額'] = df['株価評価額'] + df['現金']
    df['評価額変動'] = df['株価評価額変動'] + df['現金変動']
    
    #投資金額変動
    df['投資金額変動'] = investment_calc(df, '7', '')
    df['投資金額変動'] = investment_calc(df, 'G', '')
    df['投資金額変動'] = investment_calc(df, '1', 'U')
    df['投資金額変動'] = investment_calc(df, '5', 'U')
    df['投資金額変動'] = investment_calc(df, '', '')
    df['投資金額'] = df['投資金額変動'] + df['投資金額'].shift(1)
    
    return df

### ドツボにはまったので（関数動かない）分割して書くことにする

In [215]:
df = sample_customer_df.copy()

終値調整値結合

In [216]:
df = pd.merge(df, stock_201509, on='マーケット発注日', how='inner')
df

,注文ID,基準日,部店コード,口座番号,EC受注番号,注文/約定日時,マーケット発注日,取引種類,売買区分,銘柄コード,取引,市場,数量,値段1,注文期間,注文経路,出来数量,値段2,約定金額,指成区分,RBE注文種別,SOR区分,顧客ID,isMargin,isCash,終値調整値
0,1460400602_018735_20150901141311,20150901,146,0400602,018735,20150901141311,20150901,6,K,7203,3,0,1000,7005.0,20150901,A,1000,7005.0,7005000,,,,1460400602,1,0,7000
1,1460400602_018788_20150903072259,20150903,146,0400602,018788,20150903072259,20150903,6,K,7203,3,0,1000,0.0,20150903,A,1000,0.0,7093000,N,,,1460400602,1,0,7185
2,1460400602_018818_20150903123812,20150903,146,0400602,018818,20150903123812,20150903,7,U,7203,3,0,7000,0.0,20150928,,7000,0.0,51030700,N,SLO,,1460400602,1,0,7185
3,1460400602_018822_20150903131627,20150903,146,0400602,018822,20150903131627,20150903,6,U,7203,3,0,3000,0.0,20150903,,3000,0.0,21932300,N,,,1460400602,1,0,7185
4,1460400602_018860_20150904090448,20150904,146,0400602,018860,20150904090448,20150904,7,K,7203,3,0,3000,0.0,20150904,A,3000,0.0,21322100,N,SLO,,1460400602,1,0,7004
5,1460400602_018866_20150904093058,20150904,146,0400602,018866,20150904093058,20150904,6,K,7203,3,0,3000,7119.0,20150904,A,3000,7119.0,21351000,,,,1460400602,1,0,7004
6,1460400602_018871_20150904094801,20150904,146,0400602,018871,20150904094801,20150904,5,K,7203,0,0,500,7114.0,20150904,A,500,7114.0,3557000,,,2,1460400602,0,1,7004
7,1460400602_018878_20150904135215,20150904,146,0400602,018878,20150904135215,20150904,6,K,7203,3,0,1000,0.0,20150904,A,1000,0.0,6972800,N,,,1460400602,1,0,7004
8,1460400602_018882_20150904135554,20150904,146,0400602,018882,20150904135554,20150904,6,K,7203,3,0,1000,0.0,20150904,A,1000,0.0,6972000,N,,,1460400602,1,0,7004
9,1460400602_018963_20150909155853,20150910,146,0400602,018963,20150909155853,20150910,7,U,7203,3,0,5000,0.0,20151005,,5000,0.0,36069900,N,SLO,,1460400602,1,0,7175
10,1460400602_018985_20150910090846,20150910,146,0400602,018985,20150910090846,20150910,6,K,7203,3,0,5000,7200.0,20150910,,5000,7200.0,36000000,,,,1460400602,1,0,7175
11,1460400602_019116_20150916111213,20150916,146,0400602,019116,20150916111213,20150916,7,U,7203,3,0,5000,7395.0,20150916,A,5000,0.0,36591800,,,,1460400602,1,0,7297
12,1460400602_019122_20150916112226,20150916,146,0400602,019122,20150916112226,20150916,6,U,7203,3,0,4000,0.0,20150916,A,4000,0.0,29271600,N,,,1460400602,1,0,7297
13,1460400602_019127_20150916132009,20150916,146,0400602,019127,20150916132009,20150916,1,U,7203,0,0,2000,0.0,20150916,,2000,0.0,14605500,N,,2,1460400602,0,1,7297
14,1460400602_019166_20150917093846,20150917,146,0400602,019166,20150917093846,20150917,6,U,7203,3,0,1000,7393.0,20150917,A,1000,7393.0,7395000,,,,1460400602,1,0,7338
15,1460400602_019191_20150917111839,20150917,146,0400602,019191,20150917111839,20150917,7,K,7203,3,0,2500,7265.0,20150917,A,2500,0.0,18340700,,,,1460400602,1,0,7338
16,1460400602_019200_20150917135133,20150917,146,0400602,019200,20150917135133,20150917,7,K,7203,3,0,2500,7200.0,20150917,,2500,0.0,18345000,,,,1460400602,1,0,7338
17,1460400602_019204_20150917141011,20150917,146,0400602,019204,20150917141011,20150917,6,K,7203,3,0,6000,0.0,20150917,,6000,0.0,44073400,N,,,1460400602,1,0,7338
18,1460400602_019433_20150929130011,20150929,146,0400602,019433,20150929130011,20150929,6,K,7203,3,0,1000,6700.0,20150929,A,1000,6700.0,6700000,,,,1460400602,1,0,6719
19,1460400602_019450_20150930091515,20150930,146,0400602,019450,20150930091515,20150930,5,K,7203,0,0,300,0.0,20150930,A,300,0.0,2067900,N,,2,1460400602,0,1,6971

In [347]:
# cumsumの再実装
# max0は0以下の値を許容するときFalse
#cumsum_min0を作ってもいい
def cumsum_max0(df, col):
    result = [df[col].iloc[0]]
    for idx, val in enumerate(df[col].iloc[1:]):
        ans = result[idx-1] + val
        result.append(max(0, ans))
    return np.array(result)

In [64]:
#使わない
def cumsum_non_zero(df, col, fluct_col):
    df[col] = df[fluct_col].cumsum()
    df[col] = df[col].apply(lambda x: max(0, x))
    return df

In [191]:
cumsum_max0(df, '現物変動補正前')

KeyError: '現物変動補正前'

In [193]:
df['現物'] = cumsum_max0(df, '現物変動補正前')
df

,注文ID,基準日,部店コード,口座番号,EC受注番号,注文/約定日時,マーケット発注日,取引種類,売買区分,銘柄コード,取引,市場,数量,値段1,注文期間,注文経路,出来数量,値段2,約定金額,指成区分,RBE注文種別,SOR区分,顧客ID,isMargin,isCash,終値調整値,現物変動補正前,現物,現物変動
0,1460400602_018735_20150901141311,20150901,146,0400602,018735,20150901141311,20150901,6,K,7203,3,0,1000,7005.0,20150901,A,1000,7005.0,7005000,,,,1460400602,1,0,823.0,0.0,0.0,NaN
1,1460400602_018788_20150903072259,20150903,146,0400602,018788,20150903072259,20150903,6,K,7203,3,0,1000,0.0,20150903,A,1000,0.0,7093000,N,,,1460400602,1,0,817.0,0.0,0.0,0.0
2,1460400602_018818_20150903123812,20150903,146,0400602,018818,20150903123812,20150903,7,U,7203,3,0,7000,0.0,20150928,,7000,0.0,51030700,N,SLO,,1460400602,1,0,817.0,0.0,0.0,0.0
3,1460400602_018822_20150903131627,20150903,146,0400602,018822,20150903131627,20150903,6,U,7203,3,0,3000,0.0,20150903,,3000,0.0,21932300,N,,,1460400602,1,0,817.0,0.0,0.0,0.0
4,1460400602_018860_20150904090448,20150904,146,0400602,018860,20150904090448,20150904,7,K,7203,3,0,3000,0.0,20150904,A,3000,0.0,21322100,N,SLO,,1460400602,1,0,760.0,0.0,0.0,0.0
5,1460400602_018866_20150904093058,20150904,146,0400602,018866,20150904093058,20150904,6,K,7203,3,0,3000,7119.0,20150904,A,3000,7119.0,21351000,,,,1460400602,1,0,760.0,0.0,0.0,0.0
6,1460400602_018871_20150904094801,20150904,146,0400602,018871,20150904094801,20150904,5,K,7203,0,0,500,7114.0,20150904,A,500,7114.0,3557000,,,2,1460400602,0,1,760.0,500.0,500.0,500.0
7,1460400602_018878_20150904135215,20150904,146,0400602,018878,20150904135215,20150904,6,K,7203,3,0,1000,0.0,20150904,A,1000,0.0,6972800,N,,,1460400602,1,0,760.0,0.0,500.0,0.0
8,1460400602_018882_20150904135554,20150904,146,0400602,018882,20150904135554,20150904,6,K,7203,3,0,1000,0.0,20150904,A,1000,0.0,6972000,N,,,1460400602,1,0,760.0,0.0,500.0,0.0
9,1460400602_018963_20150909155853,20150910,146,0400602,018963,20150909155853,20150910,7,U,7203,3,0,5000,0.0,20151005,,5000,0.0,36069900,N,SLO,,1460400602,1,0,834.0,0.0,500.0,0.0
10,1460400602_018985_20150910090846,20150910,146,0400602,018985,20150910090846,20150910,6,K,7203,3,0,5000,7200.0,20150910,,5000,7200.0,36000000,,,,1460400602,1,0,834.0,0.0,500.0,0.0
11,1460400602_019116_20150916111213,20150916,146,0400602,019116,20150916111213,20150916,7,U,7203,3,0,5000,7395.0,20150916,A,5000,0.0,36591800,,,,1460400602,1,0,778.0,0.0,500.0,0.0
12,1460400602_019122_20150916112226,20150916,146,0400602,019122,20150916112226,20150916,6,U,7203,3,0,4000,0.0,20150916,A,4000,0.0,29271600,N,,,1460400602,1,0,778.0,0.0,500.0,0.0
13,1460400602_019127_20150916132009,20150916,146,0400602,019127,20150916132009,20150916,1,U,7203,0,0,2000,0.0,20150916,,2000,0.0,14605500,N,,2,1460400602,0,1,778.0,-2000.0,0.0,-500.0
14,1460400602_019166_20150917093846,20150917,146,0400602,019166,20150917093846,20150917,6,U,7203,3,0,1000,7393.0,20150917,A,1000,7393.0,7395000,,,,1460400602,1,0,791.0,0.0,0.0,0.0
15,1460400602_019191_20150917111839,20150917,146,0400602,019191,20150917111839,20150917,7,K,7203,3,0,2500,7265.0,20150917,A,2500,0.0,18340700,,,,1460400602,1,0,791.0,0.0,0.0,0.0
16,1460400602_019200_20150917135133,20150917,146,0400602,019200,20150917135133,20150917,7,K,7203,3,0,2500,7200.0,20150917,,2500,0.0,18345000,,,,1460400602,1,0,791.0,0.0,0.0,0.0
17,1460400602_019204_20150917141011,20150917,146,0400602,019204,20150917141011,20150917,6,K,7203,3,0,6000,0.0,20150917,,6000,0.0,44073400,N,,,1460400602,1,0,791.0,0.0,0.0,0.0
18,1460400602_019433_20150929130011,20150929,146,0400602,019433,20150929130011,20150929,6,K,7203,3,0,1000,6700.0,20150929,A,1000,6700.0,6700000,,,,1460400602,1,0,762.0,0.0,0.0,0.0
19,1460400602_019450_20150930091515,20150930,146,0400602,019450,20150930091515,20150930,5,K,7203,0,0,300,0.0,20150930,A,300,0.0,2067900,N,,2,1460400602,0,1,784.0,300.0,300.0,300.0

In [284]:
cumsum_max0(df, '信用買い変動補正前')

array([1000., 2000.,    0.,    0.,    0., 3000., 3000., 4000., 5000.,
          0., 5000.,    0.,    0.,    0.,    0.,    0.,    0., 6000.,
       7000., 7000.])

In [343]:
#現物取引
df = cash_fill_value(df, '現物変動補正前', '1', 'K')
df = cash_fill_value(df, '現物変動補正前', '5', 'K')
df = cash_fill_value(df, '現物変動補正前', 'G', 'K')
df = cash_fill_value(df, '現物変動補正前', '1', 'U')
df = cash_fill_value(df, '現物変動補正前', '5', 'U')
df = cash_fill_value(df, '現物変動補正前', 'G', 'U')
df['現物'] = cumsum_max0(df, '現物変動補正前')
df['現物変動'] = df['現物'] - df['現物'].shift(1).fillna(0)
df.iloc[:14][['取引種類', '売買区分', '出来数量', '値段2', '約定金額','終値調整値','現物', '現物変動']]

   取引種類 売買区分  出来数量     値段2      約定金額   終値調整値     現物   現物変動
0     6    K  1000  7005.0   7005000  7000.0    0.0    0.0
1     6    K  1000     0.0   7093000  7185.0    0.0    0.0
2     7    U  7000     0.0  51030700  7185.0    0.0    0.0
3     6    U  3000     0.0  21932300  7185.0    0.0    0.0
4     7    K  3000     0.0  21322100  7004.0    0.0    0.0
5     6    K  3000  7119.0  21351000  7004.0    0.0    0.0
6     5    K   500  7114.0   3557000  7004.0  500.0  500.0
7     6    K  1000     0.0   6972800  7004.0  500.0    0.0
8     6    K  1000     0.0   6972000  7004.0  500.0    0.0
9     7    U  5000     0.0  36069900  7175.0  500.0    0.0
10    6    K  5000  7200.0  36000000  7175.0  500.0    0.0
11    7    U  5000     0.0  36591800  7297.0  500.0    0.0
12    6    U  4000     0.0  29271600  7297.0  500.0    0.0
13    1    U  2000     0.0  14605500  7297.0    0.0 -500.0

In [344]:
#信用買い取引
df = mergin_fill_value(df, '信用買い変動補正前', '6', 'K', 0)
df = mergin_fill_value(df, '信用買い変動補正前', '7', 'U', 0)
df = mergin_fill_value(df, '信用買い変動補正前', 'G', 'K', 0)
df['信用買い'] = cumsum_max0(df, '信用買い変動補正前')
df['信用買い変動'] = df['信用買い'] - df['信用買い'].shift(1).fillna(0)
df.iloc[:14][['取引種類', '売買区分', '出来数量', '値段2', '約定金額','終値調整値','信用買い', '信用買い変動']]

   取引種類 売買区分  出来数量     値段2      約定金額   終値調整値    信用買い  信用買い変動
0     6    K  1000  7005.0   7005000  7000.0  1000.0  1000.0
1     6    K  1000     0.0   7093000  7185.0  2000.0  1000.0
2     7    U  7000     0.0  51030700  7185.0     0.0 -2000.0
3     6    U  3000     0.0  21932300  7185.0     0.0     0.0
4     7    K  3000     0.0  21322100  7004.0     0.0     0.0
5     6    K  3000  7119.0  21351000  7004.0  3000.0  3000.0
6     5    K   500  7114.0   3557000  7004.0  3000.0     0.0
7     6    K  1000     0.0   6972800  7004.0  4000.0  1000.0
8     6    K  1000     0.0   6972000  7004.0  5000.0  1000.0
9     7    U  5000     0.0  36069900  7175.0     0.0 -5000.0
10    6    K  5000  7200.0  36000000  7175.0  5000.0  5000.0
11    7    U  5000     0.0  36591800  7297.0     0.0 -5000.0
12    6    U  4000     0.0  29271600  7297.0     0.0     0.0
13    1    U  2000     0.0  14605500  7297.0     0.0     0.0

In [ ]:
df['信用売り'] = df['信用売り変動'] + df['信用売り'].shift(1)

In [195]:
cumsum_max0(df, '信用売り変動補正前', False)

KeyError: '信用売り変動補正前'

In [197]:
mergin_fill_value(df, '信用売り変動補正前', '7', 'K', 1)

,注文ID,基準日,部店コード,口座番号,EC受注番号,注文/約定日時,マーケット発注日,取引種類,売買区分,銘柄コード,取引,市場,数量,値段1,注文期間,注文経路,出来数量,値段2,約定金額,指成区分,RBE注文種別,SOR区分,顧客ID,isMargin,isCash,終値調整値,現物変動補正前,現物,現物変動,信用買い変動補正前,信用買い,信用買い変動,信用売り変動補正前
0,1460400602_018735_20150901141311,20150901,146,0400602,018735,20150901141311,20150901,6,K,7203,3,0,1000,7005.0,20150901,A,1000,7005.0,7005000,,,,1460400602,1,0,823.0,0.0,0.0,NaN,1000.0,1000.0,NaN,NaN
1,1460400602_018788_20150903072259,20150903,146,0400602,018788,20150903072259,20150903,6,K,7203,3,0,1000,0.0,20150903,A,1000,0.0,7093000,N,,,1460400602,1,0,817.0,0.0,0.0,0.0,1000.0,2000.0,1000.0,NaN
2,1460400602_018818_20150903123812,20150903,146,0400602,018818,20150903123812,20150903,7,U,7203,3,0,7000,0.0,20150928,,7000,0.0,51030700,N,SLO,,1460400602,1,0,817.0,0.0,0.0,0.0,-7000.0,0.0,-2000.0,NaN
3,1460400602_018822_20150903131627,20150903,146,0400602,018822,20150903131627,20150903,6,U,7203,3,0,3000,0.0,20150903,,3000,0.0,21932300,N,,,1460400602,1,0,817.0,0.0,0.0,0.0,NaN,NaN,NaN,-3000.0
4,1460400602_018860_20150904090448,20150904,146,0400602,018860,20150904090448,20150904,7,K,7203,3,0,3000,0.0,20150904,A,3000,0.0,21322100,N,SLO,,1460400602,1,0,760.0,0.0,0.0,0.0,NaN,NaN,NaN,3000.0
5,1460400602_018866_20150904093058,20150904,146,0400602,018866,20150904093058,20150904,6,K,7203,3,0,3000,7119.0,20150904,A,3000,7119.0,21351000,,,,1460400602,1,0,760.0,0.0,0.0,0.0,3000.0,NaN,NaN,NaN
6,1460400602_018871_20150904094801,20150904,146,0400602,018871,20150904094801,20150904,5,K,7203,0,0,500,7114.0,20150904,A,500,7114.0,3557000,,,2,1460400602,0,1,760.0,500.0,500.0,500.0,NaN,NaN,NaN,NaN
7,1460400602_018878_20150904135215,20150904,146,0400602,018878,20150904135215,20150904,6,K,7203,3,0,1000,0.0,20150904,A,1000,0.0,6972800,N,,,1460400602,1,0,760.0,0.0,500.0,0.0,1000.0,NaN,NaN,NaN
8,1460400602_018882_20150904135554,20150904,146,0400602,018882,20150904135554,20150904,6,K,7203,3,0,1000,0.0,20150904,A,1000,0.0,6972000,N,,,1460400602,1,0,760.0,0.0,500.0,0.0,1000.0,NaN,NaN,NaN
9,1460400602_018963_20150909155853,20150910,146,0400602,018963,20150909155853,20150910,7,U,7203,3,0,5000,0.0,20151005,,5000,0.0,36069900,N,SLO,,1460400602,1,0,834.0,0.0,500.0,0.0,-5000.0,NaN,NaN,NaN
10,1460400602_018985_20150910090846,20150910,146,0400602,018985,20150910090846,20150910,6,K,7203,3,0,5000,7200.0,20150910,,5000,7200.0,36000000,,,,1460400602,1,0,834.0,0.0,500.0,0.0,5000.0,NaN,NaN,NaN
11,1460400602_019116_20150916111213,20150916,146,0400602,019116,20150916111213,20150916,7,U,7203,3,0,5000,7395.0,20150916,A,5000,0.0,36591800,,,,1460400602,1,0,778.0,0.0,500.0,0.0,-5000.0,NaN,NaN,NaN
12,1460400602_019122_20150916112226,20150916,146,0400602,019122,20150916112226,20150916,6,U,7203,3,0,4000,0.0,20150916,A,4000,0.0,29271600,N,,,1460400602,1,0,778.0,0.0,500.0,0.0,NaN,NaN,NaN,-4000.0
13,1460400602_019127_20150916132009,20150916,146,0400602,019127,20150916132009,20150916,1,U,7203,0,0,2000,0.0,20150916,,2000,0.0,14605500,N,,2,1460400602,0,1,778.0,-2000.0,0.0,-500.0,NaN,NaN,NaN,NaN
14,1460400602_019166_20150917093846,20150917,146,0400602,019166,20150917093846,20150917,6,U,7203,3,0,1000,7393.0,20150917,A,1000,7393.0,7395000,,,,1460400602,1,0,791.0,0.0,0.0,0.0,NaN,NaN,NaN,-1000.0
15,1460400602_019191_20150917111839,20150917,146,0400602,019191,20150917111839,20150917,7,K,7203,3,0,2500,7265.0,20150917,A,2500,0.0,18340700,,,,1460400602,1,0,791.0,0.0,0.0,0.0,NaN,NaN,NaN,2500.0
16,1460400602_019200_20150917135133,20150917,146,0400602,019200,20150917135133,20150917,7,K,7203,3,0,2500,7200.0,20150917,,2500,0.0,18345000,,,,1460400602,1,0,791.0,0.0,0.0,0.0,NaN,NaN,NaN,2500.0
17,1460400602_019204_20150917141011,20150917,146,0400602,019204,20150917141011,20150917,6,K,7203,3,0,6000,0.0,20150917,,6000,0.0,44073400,N,,,1460400602,1,0,791.0,0.0,0.0,0.0,6000.0,NaN,NaN,NaN
18,1460400602_019433_20150929130011,20150929,146,0400602,019433,20150929130011,20150929,6,K,7203,3,0,1000,6700.0,20150929,A,1000,6700.0,6700000,,,,1460400602,1,0,762.0,0.0,0.0,0.0,1000.0,NaN,NaN,NaN
19,1460400602_019450_20150930091515,20150930,146,0400602,019450,20150930091515,20150930,5,K,7203,0,0,300,0.0,20150930,A,300,0.0,2067900,N,,2,1460400602,0,1,784.0,300.0,300.0,300.0,NaN,NaN,NaN,NaN

In [352]:
#信用売り取引
df = mergin_fill_value(df, '信用売り変動補正前', '7', 'K', 1)
df = mergin_fill_value(df, '信用売り変動補正前', '6', 'U', 1)
df = mergin_fill_value(df, '信用売り変動補正前', 'G', 'U', 1)
df['信用売り'] = df['信用売り変動補正前'].cumsum()#ここ変える
df['信用売り変動'] = df['信用売り'] - df['信用売り'].shift(1).fillna(0)
df.iloc[:14][['取引種類', '売買区分', '出来数量', '値段2', '約定金額','終値調整値','信用買い', '現物', '信用売り', '信用売り変動']]

   取引種類 売買区分  出来数量     値段2      約定金額   終値調整値    信用買い     現物    信用売り  信用売り変動
0     6    K  1000  7005.0   7005000  7000.0  1000.0    0.0     0.0     0.0
1     6    K  1000     0.0   7093000  7185.0  2000.0    0.0     0.0     0.0
2     7    U  7000     0.0  51030700  7185.0     0.0    0.0     0.0     0.0
3     6    U  3000     0.0  21932300  7185.0     0.0    0.0 -3000.0 -3000.0
4     7    K  3000     0.0  21322100  7004.0     0.0    0.0     0.0  3000.0
5     6    K  3000  7119.0  21351000  7004.0  3000.0    0.0     0.0     0.0
6     5    K   500  7114.0   3557000  7004.0  3000.0  500.0     0.0     0.0
7     6    K  1000     0.0   6972800  7004.0  4000.0  500.0     0.0     0.0
8     6    K  1000     0.0   6972000  7004.0  5000.0  500.0     0.0     0.0
9     7    U  5000     0.0  36069900  7175.0     0.0  500.0     0.0     0.0
10    6    K  5000  7200.0  36000000  7175.0  5000.0  500.0     0.0     0.0
11    7    U  5000     0.0  36591800  7297.0     0.0  500.0     0.0     0.0
12    6    U  4000     0.0  29271600  7297.0     0.0  500.0 -4000.0 -4000.0
13    1    U  2000     0.0  14605500  7297.0     0.0    0.0 -4000.0     0.0

In [353]:
#株価評価額
df['株価評価額'] = df['終値調整値'] * (df['現物'] + df['信用買い'] + df['信用売り'])
df['株価評価額変動'] = df['株価評価額'] - df['株価評価額'].shift(1).fillna(0)
df.iloc[:14][['取引種類', '売買区分', '出来数量', '値段2', '約定金額','終値調整値', '信用買い', '現物', '信用売り', '株価評価額', '株価評価額変動']]

,取引種類,売買区分,出来数量,値段2,約定金額,終値調整値,信用買い,現物,信用売り,株価評価額,株価評価額変動
0,6,K,1000,7005.0,7005000,7000.0,1000.0,0.0,0.0,7000000.0,7000000.0
1,6,K,1000,0.0,7093000,7185.0,2000.0,0.0,0.0,14370000.0,7370000.0
2,7,U,7000,0.0,51030700,7185.0,0.0,0.0,0.0,0.0,-14370000.0
3,6,U,3000,0.0,21932300,7185.0,0.0,0.0,-3000.0,-21555000.0,-21555000.0
4,7,K,3000,0.0,21322100,7004.0,0.0,0.0,0.0,0.0,21555000.0
5,6,K,3000,7119.0,21351000,7004.0,3000.0,0.0,0.0,21012000.0,21012000.0
6,5,K,500,7114.0,3557000,7004.0,3000.0,500.0,0.0,24514000.0,3502000.0
7,6,K,1000,0.0,6972800,7004.0,4000.0,500.0,0.0,31518000.0,7004000.0
8,6,K,1000,0.0,6972000,7004.0,5000.0,500.0,0.0,38522000.0,7004000.0
9,7,U,5000,0.0,36069900,7175.0,0.0,500.0,0.0,3587500.0,-34934500.0
10,6,K,5000,7200.0,36000000,7175.0,5000.0,500.0,0.0,39462500.0,35875000.0
11,7,U,5000,0.0,36591800,7297.0,0.0,500.0,0.0,3648500.0,-35814000.0
12,6,U,4000,0.0,29271600,7297.0,0.0,500.0,-4000.0,-25539500.0,-29188000.0
13,1,U,2000,0.0,14605500,7297.0,0.0,0.0,-4000.0,-29188000.0,-3648500.0

In [354]:
#全株保有数
df['全株保有数変動'] = df['現物変動'] + df['信用買い変動'] + df['信用売り変動']

In [306]:
def balance_calc(df):
    result = []
    for idx, kind in enumerate(df['取引種類']):
        if kind == 'G':
            val = 0
            result.append(val)
        else:
            val = -1 * df.loc[idx, '約定金額'] * (df.loc[idx, '全株保有数'] / df.loc[idx, '出来数量'])
            result.append(val)
    return pd.Series(result).values

In [307]:
balance_check(df)

array([ -7005000.,  -7093000.,  14580200.,  21932300., -21322100.,
       -21351000.,  -3557000.,  -6972800.,  -6972000.,  36069900.,
       -36000000.,  36591800.,  29271600.,   3651375.,   7395000.,
       -18340700., -18345000., -44073400.,  -6700000.,  -2067900.])

In [356]:
#残高
df['現金変動'] = -1 * df['約定金額'] * (df['全株保有数変動'] / df['出来数量'])
df['現金'] = df['現金変動'].cumsum()
df.iloc[:14][['取引種類', '売買区分', '出来数量', '値段2', '約定金額','終値調整値', '信用買い', '現物', '信用売り', '株価評価額', '株価評価額変動', '現金', '現金変動']]

,取引種類,売買区分,出来数量,値段2,約定金額,終値調整値,信用買い,現物,信用売り,株価評価額,株価評価額変動,現金,現金変動
0,6,K,1000,7005.0,7005000,7000.0,1000.0,0.0,0.0,7000000.0,7000000.0,-7005000.0,-7005000.0
1,6,K,1000,0.0,7093000,7185.0,2000.0,0.0,0.0,14370000.0,7370000.0,-14098000.0,-7093000.0
2,7,U,7000,0.0,51030700,7185.0,0.0,0.0,0.0,0.0,-14370000.0,482200.0,14580200.0
3,6,U,3000,0.0,21932300,7185.0,0.0,0.0,-3000.0,-21555000.0,-21555000.0,22414500.0,21932300.0
4,7,K,3000,0.0,21322100,7004.0,0.0,0.0,0.0,0.0,21555000.0,1092400.0,-21322100.0
5,6,K,3000,7119.0,21351000,7004.0,3000.0,0.0,0.0,21012000.0,21012000.0,-20258600.0,-21351000.0
6,5,K,500,7114.0,3557000,7004.0,3000.0,500.0,0.0,24514000.0,3502000.0,-23815600.0,-3557000.0
7,6,K,1000,0.0,6972800,7004.0,4000.0,500.0,0.0,31518000.0,7004000.0,-30788400.0,-6972800.0
8,6,K,1000,0.0,6972000,7004.0,5000.0,500.0,0.0,38522000.0,7004000.0,-37760400.0,-6972000.0
9,7,U,5000,0.0,36069900,7175.0,0.0,500.0,0.0,3587500.0,-34934500.0,-1690500.0,36069900.0
10,6,K,5000,7200.0,36000000,7175.0,5000.0,500.0,0.0,39462500.0,35875000.0,-37690500.0,-36000000.0
11,7,U,5000,0.0,36591800,7297.0,0.0,500.0,0.0,3648500.0,-35814000.0,-1098700.0,36591800.0
12,6,U,4000,0.0,29271600,7297.0,0.0,500.0,-4000.0,-25539500.0,-29188000.0,28172900.0,29271600.0
13,1,U,2000,0.0,14605500,7297.0,0.0,0.0,-4000.0,-29188000.0,-3648500.0,31824275.0,3651375.0

In [358]:
#合計評価額
df['評価額'] = df['株価評価額'] + df['現金']
df['評価額変動'] = df['株価評価額変動'] + df['現金変動']
df.iloc[:14][['取引種類', '売買区分', '出来数量', '値段2', '約定金額','終値調整値', '信用買い', '現物', '信用売り', '株価評価額', '株価評価額変動', '現金', '現金変動', '評価額', '評価額変動']]

,取引種類,売買区分,出来数量,値段2,約定金額,終値調整値,信用買い,現物,信用売り,株価評価額,株価評価額変動,現金,現金変動,評価額,評価額変動
0,6,K,1000,7005.0,7005000,7000.0,1000.0,0.0,0.0,7000000.0,7000000.0,-7005000.0,-7005000.0,-5000.0,-5000.0
1,6,K,1000,0.0,7093000,7185.0,2000.0,0.0,0.0,14370000.0,7370000.0,-14098000.0,-7093000.0,272000.0,277000.0
2,7,U,7000,0.0,51030700,7185.0,0.0,0.0,0.0,0.0,-14370000.0,482200.0,14580200.0,482200.0,210200.0
3,6,U,3000,0.0,21932300,7185.0,0.0,0.0,-3000.0,-21555000.0,-21555000.0,22414500.0,21932300.0,859500.0,377300.0
4,7,K,3000,0.0,21322100,7004.0,0.0,0.0,0.0,0.0,21555000.0,1092400.0,-21322100.0,1092400.0,232900.0
5,6,K,3000,7119.0,21351000,7004.0,3000.0,0.0,0.0,21012000.0,21012000.0,-20258600.0,-21351000.0,753400.0,-339000.0
6,5,K,500,7114.0,3557000,7004.0,3000.0,500.0,0.0,24514000.0,3502000.0,-23815600.0,-3557000.0,698400.0,-55000.0
7,6,K,1000,0.0,6972800,7004.0,4000.0,500.0,0.0,31518000.0,7004000.0,-30788400.0,-6972800.0,729600.0,31200.0
8,6,K,1000,0.0,6972000,7004.0,5000.0,500.0,0.0,38522000.0,7004000.0,-37760400.0,-6972000.0,761600.0,32000.0
9,7,U,5000,0.0,36069900,7175.0,0.0,500.0,0.0,3587500.0,-34934500.0,-1690500.0,36069900.0,1897000.0,1135400.0
10,6,K,5000,7200.0,36000000,7175.0,5000.0,500.0,0.0,39462500.0,35875000.0,-37690500.0,-36000000.0,1772000.0,-125000.0
11,7,U,5000,0.0,36591800,7297.0,0.0,500.0,0.0,3648500.0,-35814000.0,-1098700.0,36591800.0,2549800.0,777800.0
12,6,U,4000,0.0,29271600,7297.0,0.0,500.0,-4000.0,-25539500.0,-29188000.0,28172900.0,29271600.0,2633400.0,83600.0
13,1,U,2000,0.0,14605500,7297.0,0.0,0.0,-4000.0,-29188000.0,-3648500.0,31824275.0,3651375.0,2636275.0,2875.0

In [336]:
# def investment_calc(df):
#     result = []
#     for idx, kind in enumerate(df['取引種類']):
#         if (kind == '7') or (kind == 'G') or ((kind == '1' or kind == '5') and (df.loc[idx, '売買区分'] == 'U')):
#             val = 0
#             result.append(val)
#         else:
#             val = df.loc[idx,'約定金額']
#             result.append(val)
#     return pd.Series(result).values

In [364]:
#投資金額変動
df['返済'] = df['取引種類'].isin(['7', 'G'])
df['現物売り'] =  (df['売買区分'] == 'U')&(df['取引種類'].isin(['1', '5']))
df['投資金額'] = ~(df['返済'])|(df['現物売り']).astype(int) * df['約定金額']

In [365]:
df

,注文ID,基準日,部店コード,口座番号,EC受注番号,注文/約定日時,マーケット発注日,取引種類,売買区分,銘柄コード,取引,市場,数量,値段1,注文期間,注文経路,出来数量,値段2,約定金額,指成区分,RBE注文種別,SOR区分,顧客ID,isMargin,isCash,終値調整値,現物変動補正前,現物,現物変動,信用買い変動補正前,信用買い,信用買い変動,信用売り変動補正前,信用売り,信用売り変動,株価評価額,株価評価額変動,全株保有数,現金変動,現金,評価額,評価額変動,投資金額変動,投資金額,全株保有数変動,返済,現物売り,not投資,投資
0,1460400602_018735_20150901141311,20150901,146,0400602,018735,20150901141311,20150901,6,K,7203,3,0,1000,7005.0,20150901,A,1000,7005.0,7005000,,,,1460400602,1,0,7000.0,0.0,0.0,0.0,1000.0,1000.0,1000.0,0.0,0.0,0.0,7000000.0,7000000.0,1000.0,-7005000.0,-7005000.0,-5000.0,-5000.0,7005000,True,1000.0,False,False,False,True
1,1460400602_018788_20150903072259,20150903,146,0400602,018788,20150903072259,20150903,6,K,7203,3,0,1000,0.0,20150903,A,1000,0.0,7093000,N,,,1460400602,1,0,7185.0,0.0,0.0,0.0,1000.0,2000.0,1000.0,0.0,0.0,0.0,14370000.0,7370000.0,1000.0,-7093000.0,-14098000.0,272000.0,277000.0,7093000,True,1000.0,False,False,False,True
2,1460400602_018818_20150903123812,20150903,146,0400602,018818,20150903123812,20150903,7,U,7203,3,0,7000,0.0,20150928,,7000,0.0,51030700,N,SLO,,1460400602,1,0,7185.0,0.0,0.0,0.0,-7000.0,0.0,-2000.0,0.0,0.0,0.0,0.0,-14370000.0,-2000.0,14580200.0,482200.0,482200.0,210200.0,0,False,-2000.0,True,False,True,False
3,1460400602_018822_20150903131627,20150903,146,0400602,018822,20150903131627,20150903,6,U,7203,3,0,3000,0.0,20150903,,3000,0.0,21932300,N,,,1460400602,1,0,7185.0,0.0,0.0,0.0,0.0,0.0,0.0,-3000.0,-3000.0,-3000.0,-21555000.0,-21555000.0,-3000.0,21932300.0,22414500.0,859500.0,377300.0,21932300,True,-3000.0,False,False,False,True
4,1460400602_018860_20150904090448,20150904,146,0400602,018860,20150904090448,20150904,7,K,7203,3,0,3000,0.0,20150904,A,3000,0.0,21322100,N,SLO,,1460400602,1,0,7004.0,0.0,0.0,0.0,0.0,0.0,0.0,3000.0,0.0,3000.0,0.0,21555000.0,3000.0,-21322100.0,1092400.0,1092400.0,232900.0,0,False,3000.0,True,False,True,False
5,1460400602_018866_20150904093058,20150904,146,0400602,018866,20150904093058,20150904,6,K,7203,3,0,3000,7119.0,20150904,A,3000,7119.0,21351000,,,,1460400602,1,0,7004.0,0.0,0.0,0.0,3000.0,3000.0,3000.0,0.0,0.0,0.0,21012000.0,21012000.0,3000.0,-21351000.0,-20258600.0,753400.0,-339000.0,21351000,True,3000.0,False,False,False,True
6,1460400602_018871_20150904094801,20150904,146,0400602,018871,20150904094801,20150904,5,K,7203,0,0,500,7114.0,20150904,A,500,7114.0,3557000,,,2,1460400602,0,1,7004.0,500.0,500.0,500.0,0.0,3000.0,0.0,0.0,0.0,0.0,24514000.0,3502000.0,500.0,-3557000.0,-23815600.0,698400.0,-55000.0,3557000,True,500.0,False,False,False,True
7,1460400602_018878_20150904135215,20150904,146,0400602,018878,20150904135215,20150904,6,K,7203,3,0,1000,0.0,20150904,A,1000,0.0,6972800,N,,,1460400602,1,0,7004.0,0.0,500.0,0.0,1000.0,4000.0,1000.0,0.0,0.0,0.0,31518000.0,7004000.0,1000.0,-6972800.0,-30788400.0,729600.0,31200.0,6972800,True,1000.0,False,False,False,True
8,1460400602_018882_20150904135554,20150904,146,0400602,018882,20150904135554,20150904,6,K,7203,3,0,1000,0.0,20150904,A,1000,0.0,6972000,N,,,1460400602,1,0,7004.0,0.0,500.0,0.0,1000.0,5000.0,1000.0,0.0,0.0,0.0,38522000.0,7004000.0,1000.0,-6972000.0,-37760400.0,761600.0,32000.0,6972000,True,1000.0,False,False,False,True
9,1460400602_018963_20150909155853,20150910,146,0400602,018963,20150909155853,20150910,7,U,7203,3,0,5000,0.0,20151005,,5000,0.0,36069900,N,SLO,,1460400602,1,0,7175.0,0.0,500.0,0.0,-5000.0,0.0,-5000.0,0.0,0.0,0.0,3587500.0,-34934500.0,-5000.0,36069900.0,-1690500.0,1897000.0,1135400.0,0,False,-5000.0,True,False,True,False
10,1460400602_018985_20150910090846,20150910,146,0400602,018985,20150910090846,20150910,6,K,7203,3,0,5000,7200.0,20150910,,5000,7200.0,36000000,,,,1460400602,1,0,7175.0,0.0,500.0,0.0,5000.0,5000.0,5000.0,0.0,0.0,0.0,39462500.0,35875000.0,5000.0,-36000000.0,-37690500.0,1772000.0,-125000.0,36000000,True,5000.0,False,False,False,True
11,1460400602_019116_20150916111213,20150916,146,0400602,019116,20150916111213,20150916,7,U,7203,3,0,5000,7395.0,20150916,A,5000,0.0,36591800,,,,1460400602,1,0,7297.0,0.0,500.0,0.0,-5000.0,0.0,-5000.0,0.0,0.0,0.0,3648500.0,-35814000.0,-5000.0,36591800.0,-1098700.0,2549800.0,777800.0,0,False,-5000.0,True,False,True,False
12,1460400602_019122_20150916112226,20150916,146,0400602,019122,20150916112226,20150916,6,U,7203,3,0,4000,0.0,20150916,A,4000,0.0,29271600,N,,,1460400602,1,0,7297.0,0.0,500.0,0.0,0.0,0.0,0.0,-4000.0,-4000.0,-4000.0,-25539500.0,-29188000.0,-4000.0,29271600.0,28172900.0,2633400.0,83600.0,29271600,True,-4000.0,False,False,False,True
13,1460400602_019127_20150916132009,20150916,146,0400602,019127,20150916132009,20150916,1,U,7203,0,0,2000,0.0,20150916,,2000,0.0,14605500,N,,2,1460400602,0,1,7297.0,-2000.0,0.0,-500.0,0.0,0.0,0.0,0.0,-4000.0,0.0,-29188000.0,-3648500.0,-500.0,3651375.0,31824275.0,2636275.0,2875.0,0,True,-500.0,False,True,True,True
14,1460400602_019166_20150917093846,20150917,146,0400602,019166,20150917093846,20150917,6,U,7203,3,0,1000,7393.0,20150917,A,1000,7393.0,7395000,,,,1460400602,1,0,7338.0,0.0,0.0,0.0,0.0,0.0,0.0,-1000.0,-5000.0,-1000.0,-36690000.0,-7502000.0,-1000.0,7395000.0,39219275.0,2529275.0,-107000.0,7395000,True,-1000.0,False,False,False,True
15,1460400602_019191_20150917111839,20150917,146,0400602,019191,20150917111839,20150917,7,K,7203,3,0,2500,7265.0,20150917,A,2500,0.0,18340700,,,,1460400602,1,0,7338.0,0.0,0.0,0.0,0.0,0.0,0.0,2500.0,-2500.0,2500.0,-18345000.0,18345000.0,2500.0,-18340700.0,20878575.0,2533575.0,4300.0,0,False,2500.0,True,False,True,False
16,1460400602_019200_20150917135133,20150917,146,0400602,019200,20150917135133,20150917,7,K,7203,3,0,2500,7200.0,20150917,,2500,0.0,18345000,,,,1460400602,1,0,7338.0,0.0,0.0,0.0,0.0,0.0,0.0,2500.0,0.0,2500.0,0.0,18345000.0,2500.0,-18345000.0,2533575.0,2533575.0,0.0,0,False,2500.0,True,False,True,False
17,1460400602_019204_20150917141011,20150917,146,0400602,019204,20150917141011,20150917,6,K,7203,3,0,6000,0.0,20150917,,6000,0.0,44073400,N,,,1460400602,1,0,7338.0,0.0,0.0,0.0,6000.0,6000.0,6000.0,0.0,0.0,0.0,44028000.0,44028000.0,6000.0,-44073400.0,-41539825.0,2488175.0,-45400.0,44073400,True,6000.0,False,False,False,True
18,1460400602_019433_20150929130011,20150929,146,0400602,019433,20150929130011,20150929,6,K,7203,3,0,1000,6700.0,20150929,A,1000,6700.0,6700000,,,,1460400602,1,0,6719.0,0.0,0.0,0.0,1000.0,7000.0,1000.0,0.0,0.0,0.0,47033000.0,3005000.0,1000.0,-6700000.0,-48239825.0,-1206825.0,-3695000.0,6700000,True,1000.0,False,False,False,True
19,1460400602_019450_20150930091515,20150930,146,0400602,019450,20150930091515,20150930,5,K,7203,0,0,300,0.0,20150930,A,300,0.0,2067900,N,,2,1460400602,0,1,6971.0,300.0,300.0,300.0,0.0,7000.0,0.0,0.0,0.0,0.0,50888300.0,3855300.0,300.0,-2067900.0,-50307725.0,580575.0,1787400.0,2067900,True,300.0,False,False,False,True

In [367]:
df['投資金額'] = df['投資金額変動'].cumsum()
df.iloc[:14][['取引種類', '売買区分', '出来数量', '値段2', '約定金額','終値調整値', '信用買い', '現物', 
              '信用売り', '株価評価額', '株価評価額変動', '現金', '現金変動', '評価額', '評価額変動', '投資金額変動', '投資金額']]

,取引種類,売買区分,出来数量,値段2,約定金額,終値調整値,信用買い,現物,信用売り,株価評価額,株価評価額変動,現金,現金変動,評価額,評価額変動,投資金額変動,投資金額
0,6,K,1000,7005.0,7005000,7000.0,1000.0,0.0,0.0,7000000.0,7000000.0,-7005000.0,-7005000.0,-5000.0,-5000.0,7005000,7005000
1,6,K,1000,0.0,7093000,7185.0,2000.0,0.0,0.0,14370000.0,7370000.0,-14098000.0,-7093000.0,272000.0,277000.0,7093000,14098000
2,7,U,7000,0.0,51030700,7185.0,0.0,0.0,0.0,0.0,-14370000.0,482200.0,14580200.0,482200.0,210200.0,0,14098000
3,6,U,3000,0.0,21932300,7185.0,0.0,0.0,-3000.0,-21555000.0,-21555000.0,22414500.0,21932300.0,859500.0,377300.0,21932300,36030300
4,7,K,3000,0.0,21322100,7004.0,0.0,0.0,0.0,0.0,21555000.0,1092400.0,-21322100.0,1092400.0,232900.0,0,36030300
5,6,K,3000,7119.0,21351000,7004.0,3000.0,0.0,0.0,21012000.0,21012000.0,-20258600.0,-21351000.0,753400.0,-339000.0,21351000,57381300
6,5,K,500,7114.0,3557000,7004.0,3000.0,500.0,0.0,24514000.0,3502000.0,-23815600.0,-3557000.0,698400.0,-55000.0,3557000,60938300
7,6,K,1000,0.0,6972800,7004.0,4000.0,500.0,0.0,31518000.0,7004000.0,-30788400.0,-6972800.0,729600.0,31200.0,6972800,67911100
8,6,K,1000,0.0,6972000,7004.0,5000.0,500.0,0.0,38522000.0,7004000.0,-37760400.0,-6972000.0,761600.0,32000.0,6972000,74883100
9,7,U,5000,0.0,36069900,7175.0,0.0,500.0,0.0,3587500.0,-34934500.0,-1690500.0,36069900.0,1897000.0,1135400.0,0,74883100
10,6,K,5000,7200.0,36000000,7175.0,5000.0,500.0,0.0,39462500.0,35875000.0,-37690500.0,-36000000.0,1772000.0,-125000.0,36000000,110883100
11,7,U,5000,0.0,36591800,7297.0,0.0,500.0,0.0,3648500.0,-35814000.0,-1098700.0,36591800.0,2549800.0,777800.0,0,110883100
12,6,U,4000,0.0,29271600,7297.0,0.0,500.0,-4000.0,-25539500.0,-29188000.0,28172900.0,29271600.0,2633400.0,83600.0,29271600,140154700
13,1,U,2000,0.0,14605500,7297.0,0.0,0.0,-4000.0,-29188000.0,-3648500.0,31824275.0,3651375.0,2636275.0,2875.0,0,140154700

In [370]:
df['評価額'].iloc[-1] / (df['現金'].max() - min(0, df['現金'].min()))

0.006484915165257408

In [373]:
df2 = df.iloc[:14] 
df2['評価額'].iloc[-1] / (df2['現金'].max() - min(0, df2['現金'].min()))

0.03788585633259047

In [371]:
min(0, df['現金'].min())

-50307725.0