### 顧客利益テーブルの作成の実験

In [375]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import glob, sys, os, pickle
import japanize_matplotlib

import warnings
warnings.filterwarnings('ignore')

In [376]:
pd.options.display.max_columns = 1000
pd.options.display.max_rows = 100

In [377]:
data_dir = '/ex-ssd2/sec_mkt/data/sec/transaction/'
sec_201509_df = pd.read_pickle(data_dir + 'sec_201509.pkl')
display(sec_201509_df.head())
display(sec_201509_df.shape)

,注文ID,基準日,部店コード,口座番号,EC受注番号,注文/約定日時,マーケット発注日,取引種類,売買区分,銘柄コード,取引,市場,数量,値段1,注文期間,注文経路,出来数量,値段2,約定金額,指成区分,RBE注文種別,SOR区分,顧客ID
0,1010074021_048634_20150915113529,20150915,101,0074021,048634,20150915113529,20150915,1,U,7616,0,0,100,1712.0,20150915,,0,1712.0,0,,,,1010074021
1,1010074021_048681_20150917104054,20150917,101,0074021,048681,20150917104054,20150917,1,U,7616,0,X,100,1678.0,20150917,,100,1678.0,167800,,,4,1010074021
2,1010081574_048421_20150907090714,20150907,101,0081574,048421,20150907090714,20150907,1,K,4526,0,0,100,3920.0,20150907,0,100,3920.0,392000,,,,1010081574
3,1010128601_048559_20150911103454,20150911,101,0128601,048559,20150911103454,20150911,1,K,8964,0,0,1,448500.0,20150911,0,1,448500.0,448500,,,,1010128601
4,1010155799_048250_20150901090331,20150901,101,0155799,048250,20150901090331,20150901,1,U,1419,0,0,200,0.0,20150901,0,200,0.0,98200,N,,,1010155799

(11671724, 23)

In [7]:
sec_201509_df['isMargin'] = sec_201509_df['取引種類'].apply(lambda x: 1 if x in ['6', '7', 'G'] else 0)
sec_201509_df['isCash'] = sec_201509_df['取引種類'].apply(lambda x: 1 if x not in ['6', '7', 'G'] else 0)

In [8]:
customer_df = sec_201509_df[(sec_201509_df['約定金額'] != 0)]
display(customer_df.head())
display(customer_df.shape)

,注文ID,基準日,部店コード,口座番号,EC受注番号,注文/約定日時,マーケット発注日,取引種類,売買区分,銘柄コード,取引,市場,数量,値段1,注文期間,注文経路,出来数量,値段2,約定金額,指成区分,RBE注文種別,SOR区分,顧客ID,isMargin,isCash
1,1010074021_048681_20150917104054,20150917,101,0074021,048681,20150917104054,20150917,1,U,7616,0,X,100,1678.0,20150917,,100,1678.0,167800,,,4,1010074021,0,1
2,1010081574_048421_20150907090714,20150907,101,0081574,048421,20150907090714,20150907,1,K,4526,0,0,100,3920.0,20150907,0,100,3920.0,392000,,,,1010081574,0,1
3,1010128601_048559_20150911103454,20150911,101,0128601,048559,20150911103454,20150911,1,K,8964,0,0,1,448500.0,20150911,0,1,448500.0,448500,,,,1010128601,0,1
4,1010155799_048250_20150901090331,20150901,101,0155799,048250,20150901090331,20150901,1,U,1419,0,0,200,0.0,20150901,0,200,0.0,98200,N,,,1010155799,0,1
5,1010305987_048540_20150910215157,20150914,101,0305987,048540,20150910215157,20150911,1,U,3863,0,0,500,2150.0,20150924,,500,2150.0,1075000,,,,1010305987,0,1

(7263259, 25)

In [9]:
group_list = ['顧客ID', '銘柄コード']
customer_cnt = customer_df.groupby(group_list).agg({'顧客ID': 'count' , 'isMargin': 'max', 'isCash': 'max'})
customer_cnt.columns = ['tran_count', 'isMargin', 'isCash']
customer_cnt

                  tran_count  isMargin  isCash
顧客ID       銘柄コード
1010016624 9423            1         0       1
1010022179 3266            1         0       1
           3587            1         0       1
           7824            1         0       1
1010022438 1820            1         0       1
           6140            1         0       1
           6779            1         0       1
1010029807 6176            1         0       1
1010050202 1802            1         0       1
1010064467 2768            1         0       1
1010072567 1802            2         1       0
           6645            1         1       0
1010073016 5019            1         0       1
1010074021 2702            2         0       1
           7412            2         0       1
           7616            1         0       1
1010078760 2337            1         0       1
           3319            1         0       1
1010081302 5401            1         0       1
1010081574 4526            1         0       1
           9735            1         0       1
1010085294 4502            1         0       1
1010087858 8058            1         0       1
1010088366 8604            1         0       1
1010088889 3407            1         0       1
1010123030 4188            1         0       1
           6767            1         0       1
1010124281 3027            1         0       1
           3180            1         0       1
1010127116 5802            4         0       1
1010128601 3226            1         0       1
           3263            1         0       1
           3296            1         0       1
           3455            1         0       1
           4565            1         0       1
           6645            1         0       1
           6963            1         0       1
           8964            1         0       1
           9003            1         0       1
           9021            1         0       1
           9042            1         0       1
1010135640 1802            2         0       1
           8306            1         0       1
1010146021 3694            1         0       1
           3844            1         0       1
1010150932 3285            2         0       1
           5020            1         0       1
           8961            1         0       1
1010151033 3415            1         0       1
1010151793 1580            2         0       1
...                      ...       ...     ...
Z890308013 5216            1         0       1
           6072            2         0       1
           7013            1         0       1
           8473            3         0       1
           9385            2         0       1
           9501            2         0       1
Z890308056 1570            4         0       1
           1571            2         0       1
Z890308064 4661            1         0       1
Z890308081 4188            1         0       1
Z890308226 3296            1         0       1
           3298            1         0       1
Z890308315 2749            2         0       1
           2929            2         0       1
           3751            2         0       1
           4579            2         0       1
           7608            2         0       1
Z890308323 8031            1         0       1
           8035            1         0       1
Z890308366 6301            1         0       1
Z890308404 1963            1         0       1
Z890308412 1963            1         0       1
           9104            1         0       1
Z890308510 6758            2         0       1
Z890308561 4064            3         0       1
           8411            1         0       1
Z890308595 3137            1         0       1
           6325            7         0       1
Z890308609 2144            3         0       1
           5942            1         0       1
Z890308633 8595            2         1       0
Z890308676 2467            2         0       1
           4714            1         0       1
Z890308714 7867            1         0       1
           8136            1         0       1
Z890308722 2743            1         0       1
Z890308731 8920            1         0       1
Z890308757 8242            1         0       1
Z890308781 3692            3         0       1
           3914            3         0       1
           5288            1         0       1
           7203            2         0       1
Z890308790 4661            1         0       1
Z890308803 7261            1         0       1
           8411            1         0       1
Z890308820 6502            1         0       1
           8411            1         0       1
           9984            1         0       1
Z890308986 4568            1         0       1
           4771            1         0       1

[1801730 rows x 3 columns]

In [10]:
customer_cnt_df = customer_cnt[((customer_cnt['tran_count'] >= 10) & (customer_cnt['tran_count'] <= 20)) & 
                               ((customer_cnt['isMargin'] == 1) & (customer_cnt['isCash'] == 1))].reset_index()
customer_cnt_df

             顧客ID 銘柄コード  tran_count  isMargin  isCash
0      1170003115  7284          12         1       1
1      1320008621  9501          12         1       1
2      1400402168  1570          10         1       1
3      1460400602  4301          11         1       1
4      1460400602  6502          17         1       1
5      1460400602  7203          20         1       1
6      1470400645  6768          19         1       1
7      1470400645  7844          11         1       1
8      1530950092  9508          19         1       1
9      1570400572  2651          14         1       1
10     1570400572  8028          18         1       1
11     1570400572  9437          10         1       1
12     1600400564  9831          14         1       1
13     1610400742  2432          11         1       1
14     1610400742  4978          17         1       1
15     1610400742  5959          12         1       1
16     3010000183  2432          14         1       1
17     3010000183  4080          10         1       1
18     3010002259  4579          15         1       1
19     3010003867  7013          14         1       1
20     3010010138  4005          20         1       1
21     3010017418  4678          14         1       1
22     3010018091  1579          11         1       1
23     3010019828  6636          11         1       1
24     3010019828  7836          16         1       1
25     3010026620  1928          19         1       1
26     3010026620  3048          13         1       1
27     3010028819  3526          14         1       1
28     3010028819  5007          12         1       1
29     3010028819  8316          10         1       1
30     3010028819  8601          13         1       1
31     3010028819  8732          14         1       1
32     3010038164  6502          15         1       1
33     3010042846  8267          11         1       1
34     3010042846  9501          12         1       1
35     3010043613  8267          12         1       1
36     3010044652  3099          14         1       1
37     3010047902  9424          18         1       1
38     3010058190  1570          15         1       1
39     3010062561  6902          11         1       1
40     3010062561  7267          11         1       1
41     3010062561  7270          20         1       1
42     3010065749  1321          17         1       1
43     3010065749  2321          12         1       1
44     3010068802  1433          17         1       1
45     3010069116  1433          18         1       1
46     3010069116  3656          18         1       1
47     3010069116  3692          14         1       1
48     3010069116  4571          12         1       1
49     3010075248  1963          12         1       1
...           ...   ...         ...       ...     ...
15605  Z890283207  5401          10         1       1
15606  Z890284084  1570          10         1       1
15607  Z890284998  6619          12         1       1
15608  Z890289990  1357          18         1       1
15609  Z890290602  4612          12         1       1
15610  Z890290602  4755          13         1       1
15611  Z890290602  5110          18         1       1
15612  Z890290602  6460          14         1       1
15613  Z890290602  6471          16         1       1
15614  Z890290602  6481          16         1       1
15615  Z890290602  8411          16         1       1
15616  Z890290602  8591          10         1       1
15617  Z890290602  8795          12         1       1
15618  Z890291510  1811          11         1       1
15619  Z890292214  1570          10         1       1
15620  Z890292214  6047          15         1       1
15621  Z890292214  9433          12         1       1
15622  Z890295108  2193          10         1       1
15623  Z890295108  9603          20         1       1
15624  Z890296112  4751          11         1       1
15625  Z890296279  1309          12         1       1
15626  Z890296279  1712          15         1       1
15627  Z890296279  1813          10         1       1
15628  Z890296279  2162          18         1       1
15629  Z890296279  2178          13         1       1
15630  Z890296279  3662          12         1       1
15631  Z890296279  4041          11         1       1
15632  Z890296279  4366          11         1       1
15633  Z890296279  5337          16         1       1
15634  Z890296279  6134          12         1       1
15635  Z890296279  6502          14         1       1
15636  Z890296279  6966          11         1       1
15637  Z890296279  9681          16         1       1
15638  Z890299138  1808          12         1       1
15639  Z890299138  3692          17         1       1
15640  Z890299138  6954          16         1       1
15641  Z890299138  8035          12         1       1
15642  Z890299138  8316          15         1       1
15643  Z890299138  9020          20         1       1
15644  Z890299138  9021          18         1       1
15645  Z890299138  9984          14         1       1
15646  Z890301949  6841          15         1       1
15647  Z890306592  1357          12         1       1
15648  Z890306606  1417          16         1       1
15649  Z890306606  1721          11         1       1
15650  Z890306606  4301          16         1       1
15651  Z890306606  7860          15         1       1
15652  Z890306606  9404          12         1       1
15653  Z890307599  1579          17         1       1
15654  Z890307599  8306          11         1       1

[15655 rows x 5 columns]

In [11]:
for idx, row in customer_cnt_df.iterrows():
    sample_customer_df = customer_df[(customer_df['顧客ID'] == row[0]) & (customer_df['銘柄コード'] == row[1])]
    display(sample_customer_df[['注文/約定日時', '取引種類', '売買区分', '銘柄コード', 
                                '取引', '市場', '数量', '値段1', '出来数量', '指成区分', 'RBE注文種別', '顧客ID']])
    if idx >= 10:
        break

,注文/約定日時,取引種類,売買区分,銘柄コード,取引,市場,数量,値段1,出来数量,指成区分,RBE注文種別,顧客ID
6422769,20150901092335,6,K,7284,3,0,2000,126.0,2000,,,1170003115
6422770,20150901143138,7,U,7284,3,0,3000,131.0,3000,,,1170003115
6422771,20150902091541,1,U,7284,0,0,1000,145.0,1000,,,1170003115
6422773,20150902145121,5,K,7284,0,0,2000,125.0,2000,,,1170003115
6422776,20150903115313,6,K,7284,3,0,3000,124.0,3000,,,1170003115
6422778,20150904133333,6,K,7284,3,0,2000,119.0,2000,,,1170003115
6422793,20150924091636,7,U,7284,3,0,2000,120.0,2000,,,1170003115
6422796,20150924125030,6,K,7284,3,0,2000,116.0,2000,,,1170003115
6422798,20150925083733,7,U,7284,3,0,2000,119.0,2000,,,1170003115
6422800,20150925091625,6,K,7284,3,0,2000,116.0,2000,,,1170003115
6422801,20150925103543,7,U,7284,3,0,2000,118.0,1000,,,1170003115
6422802,20150928083747,7,U,7284,3,0,100,1180.0,100,,,1170003115

,注文/約定日時,取引種類,売買区分,銘柄コード,取引,市場,数量,値段1,出来数量,指成区分,RBE注文種別,顧客ID
2917725,20150902091142,6,K,9501,3,0,100,772.0,100,,,1320008621
2917726,20150902093457,7,U,9501,3,0,100,786.0,100,,,1320008621
2917730,20150907091300,5,K,9501,0,0,100,763.0,100,,,1320008621
2917732,20150907095955,6,K,9501,3,0,100,775.0,100,,,1320008621
2917733,20150907100232,6,K,9501,3,0,100,775.0,100,,,1320008621
2917734,20150907101158,6,K,9501,3,0,100,769.0,100,,,1320008621
2917738,20150907140452,6,K,9501,3,0,100,769.0,100,,,1320008621
2917741,20150908091000,7,U,9501,3,0,400,778.0,400,F,,1320008621
2917745,20150929124959,6,K,9501,3,0,100,789.0,100,,,1320008621
2917746,20150929130909,6,K,9501,3,0,100,788.0,100,,,1320008621
2917747,20150929135822,6,K,9501,3,0,100,786.0,100,,,1320008621
2917751,20150930135242,7,U,9501,3,0,300,795.0,300,,,1320008621

,注文/約定日時,取引種類,売買区分,銘柄コード,取引,市場,数量,値段1,出来数量,指成区分,RBE注文種別,顧客ID
10499182,20150902102817,6,K,1570,3,0,300,14400.0,300,,SLO,1400402168
10499190,20150917083319,7,U,1570,3,0,100,14180.0,100,,,1400402168
10499191,20150917083409,7,U,1570,3,0,100,14310.0,100,,,1400402168
10499193,20150924094119,6,K,1570,3,0,200,0.0,200,N,,1400402168
10499194,20150924094527,7,U,1570,3,0,200,0.0,200,N,SLO,1400402168
10499195,20150924145712,6,K,1570,3,0,100,0.0,100,N,,1400402168
10499196,20150925090328,7,U,1570,3,0,100,0.0,100,N,SLO,1400402168
10499197,20150929100900,7,U,1570,3,0,100,0.0,100,N,,1400402168
10499198,20150929145035,5,K,1570,0,7,100,12190.0,100,,,1400402168
11089486,20150930143249,1,U,1570,0,0,100,12810.0,100,,,1400402168

,注文/約定日時,取引種類,売買区分,銘柄コード,取引,市場,数量,値段1,出来数量,指成区分,RBE注文種別,顧客ID
9332492,20150915092824,7,U,4301,3,0,200,5300.0,200,,,1460400602
9332494,20150916090449,1,U,4301,0,0,500,5350.0,500,,,1460400602
9332495,20150916112347,6,U,4301,3,0,500,0.0,500,N,,1460400602
9332496,20150916124214,7,K,4301,3,0,500,0.0,500,N,SLO,1460400602
9332497,20150916132335,6,K,4301,3,0,500,0.0,500,N,,1460400602
9332500,20150918094001,7,U,4301,3,0,300,5300.0,300,,,1460400602
9332502,20150925075704,6,U,4301,3,0,500,0.0,500,N,,1460400602
9332503,20150925094056,7,K,4301,3,0,500,0.0,500,N,,1460400602
9332504,20150929090233,7,U,4301,3,0,200,0.0,200,N,,1460400602
9332505,20150929130117,6,K,4301,3,0,500,4960.0,500,,,1460400602
9332506,20150930091435,7,U,4301,3,0,500,5210.0,500,,,1460400602

,注文/約定日時,取引種類,売買区分,銘柄コード,取引,市場,数量,値段1,出来数量,指成区分,RBE注文種別,顧客ID
2917857,20150901082808,6,U,6502,3,0,20000,0.0,20000,N,,1460400602
2917860,20150902093913,7,K,6502,3,0,20000,0.0,20000,N,SLO,1460400602
2917861,20150902142651,6,U,6502,3,0,10000,0.0,10000,N,,1460400602
2917862,20150903131835,6,U,6502,3,0,10000,364.0,10000,,,1460400602
2917863,20150903132025,5,K,6502,0,0,12000,363.9,12000,,,1460400602
2917864,20150904091746,6,U,6502,3,0,10000,357.6,10000,,,1460400602
2917865,20150904092003,1,U,6502,0,0,12000,358.0,12000,,,1460400602
2917866,20150904094012,7,K,6502,3,0,30000,0.0,30000,N,SLO,1460400602
2917867,20150910100006,6,U,6502,3,0,15000,332.8,15000,,,1460400602
2917869,20150915102713,7,K,6502,3,0,5000,0.0,5000,N,SLO,1460400602
2917870,20150915103308,6,K,6502,3,0,10000,0.0,10000,N,,1460400602
2917873,20150916092033,7,K,6502,3,0,10000,0.0,10000,N,,1460400602
2917874,20150916110258,7,U,6502,3,0,10000,0.0,10000,N,,1460400602
2917875,20150916110510,6,U,6502,3,0,10000,314.0,10000,,,1460400602
2917876,20150916154616,6,U,6502,3,0,5000,0.0,5000,N,,1460400602
2917877,20150917092522,6,U,6502,3,0,10000,330.0,10000,,,1460400602
2917878,20150918091552,7,K,6502,3,0,25000,0.0,25000,N,SLO,1460400602

,注文/約定日時,取引種類,売買区分,銘柄コード,取引,市場,数量,値段1,出来数量,指成区分,RBE注文種別,顧客ID
8168178,20150901141311,6,K,7203,3,0,1000,7005.0,1000,,,1460400602
8168179,20150903072259,6,K,7203,3,0,1000,0.0,1000,N,,1460400602
8168180,20150903123812,7,U,7203,3,0,7000,0.0,7000,N,SLO,1460400602
8168182,20150903131627,6,U,7203,3,0,3000,0.0,3000,N,,1460400602
8168183,20150904090448,7,K,7203,3,0,3000,0.0,3000,N,SLO,1460400602
8168184,20150904093058,6,K,7203,3,0,3000,7119.0,3000,,,1460400602
8168185,20150904094801,5,K,7203,0,0,500,7114.0,500,,,1460400602
8168186,20150904135215,6,K,7203,3,0,1000,0.0,1000,N,,1460400602
8168187,20150904135554,6,K,7203,3,0,1000,0.0,1000,N,,1460400602
8168190,20150909155853,7,U,7203,3,0,5000,0.0,5000,N,SLO,1460400602
8168191,20150910090846,6,K,7203,3,0,5000,7200.0,5000,,,1460400602
8168192,20150916111213,7,U,7203,3,0,5000,7395.0,5000,,,1460400602
8168193,20150916112226,6,U,7203,3,0,4000,0.0,4000,N,,1460400602
8168195,20150916132009,1,U,7203,0,0,2000,0.0,2000,N,,1460400602
8168196,20150917093846,6,U,7203,3,0,1000,7393.0,1000,,,1460400602
8168197,20150917111839,7,K,7203,3,0,2500,7265.0,2500,,,1460400602
8168198,20150917135133,7,K,7203,3,0,2500,7200.0,2500,,,1460400602
8168199,20150917141011,6,K,7203,3,0,6000,0.0,6000,N,,1460400602
8168201,20150929130011,6,K,7203,3,0,1000,6700.0,1000,,,1460400602
8168202,20150930091515,5,K,7203,0,0,300,0.0,300,N,,1460400602

,注文/約定日時,取引種類,売買区分,銘柄コード,取引,市場,数量,値段1,出来数量,指成区分,RBE注文種別,顧客ID
8748636,20150903122744,6,U,6768,3,0,1000,355.0,1000,,,1470400645
8748638,20150903134208,7,K,6768,3,0,1000,340.0,1000,,,1470400645
8748640,20150908094541,6,U,6768,3,0,1000,335.0,1000,,,1470400645
8748641,20150908095955,7,K,6768,3,0,1000,331.0,1000,,,1470400645
8748643,20150909084235,6,U,6768,3,0,1000,348.0,1000,,,1470400645
8748645,20150909094740,6,U,6768,3,0,1000,351.0,1000,,,1470400645
8748647,20150909134257,1,U,6768,0,0,1000,351.0,1000,,,1470400645
8748648,20150909134945,5,K,6768,0,0,1000,338.0,1000,,,1470400645
8748650,20150910092251,7,K,6768,3,0,1000,342.0,1000,,,1470400645
8748651,20150910092329,7,K,6768,3,0,1000,335.0,1000,,,1470400645
8748654,20150916092522,6,U,6768,3,0,1000,362.0,1000,,,1470400645
8748655,20150916095236,7,K,6768,3,0,1000,348.0,1000,,,1470400645
8748657,20150917090453,6,U,6768,3,0,1000,370.0,1000,,,1470400645
8748658,20150917092137,6,U,6768,3,0,1000,377.0,1000,,,1470400645
8748659,20150917094543,7,K,6768,3,0,1000,355.0,1000,,,1470400645
8748660,20150917100059,7,K,6768,3,0,1000,360.0,1000,,,1470400645
8748662,20150924100927,5,K,6768,0,0,1000,348.0,1000,,,1470400645
8748663,20150925013136,1,U,6768,0,0,1000,350.0,1000,,,1470400645
8748665,20150928091924,5,K,6768,0,0,1000,340.0,1000,,,1470400645

,注文/約定日時,取引種類,売買区分,銘柄コード,取引,市場,数量,値段1,出来数量,指成区分,RBE注文種別,顧客ID
6423170,20150825174941,5,K,7844,0,0,100,860.0,100,,,1470400645
6423171,20150826011023,1,U,7844,0,0,100,1240.0,100,,,1470400645
6423173,20150904092801,6,U,7844,3,0,100,1095.0,100,,,1470400645
6423174,20150904093253,7,K,7844,3,0,100,1020.0,100,,,1470400645
6423175,20150904100006,6,U,7844,3,0,100,1070.0,100,,,1470400645
6423176,20150904100423,7,K,7844,3,0,100,1016.0,100,,,1470400645
6423177,20150907103751,1,U,7844,0,0,100,1130.0,100,,,1470400645
6423178,20150909105642,5,K,7844,0,0,100,1010.0,100,,,1470400645
6423181,20150911100849,5,K,7844,0,0,100,980.0,100,,,1470400645
6423185,20150917091312,1,U,7844,0,0,100,1010.0,100,,,1470400645
6423186,20150917135220,5,K,7844,0,0,100,976.0,100,,,1470400645

,注文/約定日時,取引種類,売買区分,銘柄コード,取引,市場,数量,値段1,出来数量,指成区分,RBE注文種別,顧客ID
2332393,20150902063352,1,U,9508,0,0,15200,0.0,15200,N,,1530950092
2332394,20150902090936,G,K,9508,3,0,4200,1598.0,4200,,,1530950092
2332395,20150902091019,G,K,9508,3,0,3700,1494.0,3700,,,1530950092
2332396,20150902091053,G,K,9508,3,0,2200,1496.0,2200,,,1530950092
2332397,20150902091109,G,K,9508,3,0,1400,1495.0,1400,,,1530950092
2332398,20150902091123,G,K,9508,3,0,1200,1492.0,1200,,,1530950092
2332399,20150902091234,G,K,9508,3,0,200,1490.0,200,,,1530950092
2332400,20150902105646,G,K,9508,3,0,400,1493.0,400,,,1530950092
2332401,20150903053736,G,K,9508,3,0,200,1493.0,200,,,1530950092
2332402,20150903053749,G,K,9508,3,0,100,1491.0,100,,,1530950092
2332403,20150904070947,G,K,9508,3,0,600,1491.0,600,,,1530950092
2332404,20150909102100,6,K,9508,3,0,1000,1390.0,1000,,,1530950092
2332405,20150909102700,6,K,9508,3,0,1000,1380.0,1000,,,1530950092
2332407,20150909103922,6,K,9508,3,0,1000,1385.0,1000,,,1530950092
2332409,20150909122935,7,U,9508,3,0,3000,1400.0,3000,,,1530950092
2332412,20150916093933,6,K,9508,3,0,1000,1395.0,1000,,,1530950092
2332413,20150916094008,6,K,9508,3,0,1000,1392.0,1000,,,1530950092
2332414,20150916094035,6,K,9508,3,0,1000,1390.0,1000,,,1530950092
2332416,20150916103141,6,K,9508,3,0,1000,1370.0,1000,,,1530950092

,注文/約定日時,取引種類,売買区分,銘柄コード,取引,市場,数量,値段1,出来数量,指成区分,RBE注文種別,顧客ID
1165320,20150909092744,5,K,2651,0,0,100,8150.0,100,,,1570400572
1165321,20150911105641,1,U,2651,0,X,100,8450.0,100,N,,1570400572
1165322,20150915090004,5,K,2651,0,X,100,8700.0,100,N,,1570400572
1165323,20150915090658,5,K,2651,0,X,100,8590.0,100,,,1570400572
1165324,20150915092447,1,U,2651,0,X,100,8630.0,100,,,1570400572
1165325,20150915095946,1,U,2651,0,0,100,8740.0,100,,,1570400572
1165326,20150918091535,5,K,2651,0,X,100,8430.0,100,,,1570400572
1165327,20150928090902,1,U,2651,0,7,100,8630.0,100,N,,1570400572
1165328,20150929090015,5,K,2651,0,X,100,8610.0,100,N,,1570400572
1165329,20150929093529,1,U,2651,0,7,100,8740.0,100,N,,1570400572
1165330,20150929100120,5,K,2651,0,0,100,8630.0,100,,,1570400572
1165331,20150929102441,6,K,2651,3,0,100,8620.0,100,,,1570400572
1165332,20150930090402,7,U,2651,3,0,100,0.0,100,N,,1570400572
1165333,20150930090755,1,U,2651,0,7,100,8740.0,100,N,,1570400572

,注文/約定日時,取引種類,売買区分,銘柄コード,取引,市場,数量,値段1,出来数量,指成区分,RBE注文種別,顧客ID
2917967,20150909093329,5,K,8028,0,0,100,5210.0,100,,,1570400572
2917969,20150911105814,1,U,8028,0,7,100,5360.0,100,N,,1570400572
2917972,20150915090221,5,K,8028,0,X,100,5580.0,100,,,1570400572
2917974,20150915104216,1,U,8028,0,0,100,5580.0,100,,,1570400572
2917978,20150916091600,5,K,8028,0,X,100,5450.0,100,,,1570400572
2917979,20150916092407,5,K,8028,0,X,100,5440.0,100,,,1570400572
2917980,20150916092712,1,U,8028,0,X,200,5400.0,200,N,,1570400572
2917981,20150918091721,5,K,8028,0,0,100,5310.0,100,,,1570400572
2917984,20150924102122,5,K,8028,0,0,100,5430.0,100,,,1570400572
2917985,20150924145336,6,K,8028,3,0,100,5350.0,100,,,1570400572
2917987,20150928091027,7,U,8028,3,0,100,0.0,100,N,,1570400572
2917989,20150928091535,1,U,8028,0,X,200,5330.0,200,N,,1570400572
2917991,20150929090509,5,K,8028,0,7,100,5350.0,100,N,,1570400572
2917994,20150929093722,1,U,8028,0,7,100,5410.0,100,N,,1570400572
2917995,20150929100419,5,K,8028,0,0,100,5340.0,100,,,1570400572
2917998,20150929102103,6,K,8028,3,0,100,0.0,100,N,,1570400572
2917999,20150930090539,7,U,8028,3,0,100,0.0,100,N,,1570400572
2918000,20150930090848,1,U,8028,0,7,100,5460.0,100,N,,1570400572

### kabuoji3の読み込み

In [130]:
read_dir = '/ex-ssd2/sec_mkt/data/kabuoji3/'
stock_price_chart = pd.read_csv(read_dir + 'chart_20150105_20191031.csv')

In [381]:
stock_df = stock_price_chart[(stock_price_chart['銘柄コード'] == 2461) & (stock_price_chart['日付'].str.contains('2015-09'))]
stock_df

,銘柄コード,日付,始値,高値,安値,終値,出来高,終値調整値,date
581465,2461,2015-09-01,900.0,901.0,823.0,823.0,1870000,823.0,2015-09-01
581466,2461,2015-09-02,800.0,835.0,780.0,805.0,1948700,805.0,2015-09-02
581467,2461,2015-09-03,813.0,828.0,810.0,817.0,656700,817.0,2015-09-03
581468,2461,2015-09-04,813.0,820.0,751.0,760.0,1431300,760.0,2015-09-04
581469,2461,2015-09-07,760.0,783.0,738.0,762.0,1021300,762.0,2015-09-07
581470,2461,2015-09-08,769.0,805.0,764.0,770.0,919300,770.0,2015-09-08
581471,2461,2015-09-09,813.0,823.0,797.0,823.0,791800,823.0,2015-09-09
581472,2461,2015-09-10,805.0,837.0,803.0,834.0,560000,834.0,2015-09-10
581473,2461,2015-09-11,826.0,890.0,826.0,878.0,1181700,878.0,2015-09-11
581474,2461,2015-09-14,870.0,894.0,863.0,881.0,625500,881.0,2015-09-14
581475,2461,2015-09-15,880.0,900.0,869.0,892.0,889800,892.0,2015-09-15
581476,2461,2015-09-16,880.0,880.0,763.0,778.0,3213900,778.0,2015-09-16
581477,2461,2015-09-17,787.0,805.0,783.0,791.0,1486300,791.0,2015-09-17
581478,2461,2015-09-18,788.0,803.0,782.0,789.0,739800,789.0,2015-09-18
581479,2461,2015-09-24,781.0,797.0,766.0,767.0,672200,767.0,2015-09-24
581480,2461,2015-09-25,778.0,789.0,764.0,785.0,700300,785.0,2015-09-25
581481,2461,2015-09-28,787.0,811.0,780.0,805.0,503200,805.0,2015-09-28
581482,2461,2015-09-29,784.0,792.0,758.0,762.0,686600,762.0,2015-09-29
581483,2461,2015-09-30,778.0,792.0,770.0,784.0,488900,784.0,2015-09-30

9月の調整値抽出

In [382]:
stock_df['date'].dtypes
stock_df['date'] = pd.to_datetime(stock_df['date'])
stock_201509 = pd.DataFrame([stock_df['date'].dt.strftime('%Y%m%d'), stock_df['終値調整値']]).T
stock_201509.columns = ['マーケット発注日', '終値調整値']
stock_201509

dtype('<M8[ns]')

### Gの人抽出
3010128708

2461

In [378]:
sample_customer_df = customer_df[(customer_df['顧客ID'] == '3010128708') & (customer_df['銘柄コード'] == '2461')]
display(sample_customer_df[['注文/約定日時', '取引種類', '売買区分', '銘柄コード', 
                            '取引', '市場', '数量', '値段1', '出来数量', '値段2', '約定金額', '指成区分', 'RBE注文種別', '顧客ID']])
display(sample_customer_df.shape)

,注文/約定日時,取引種類,売買区分,銘柄コード,取引,市場,数量,値段1,出来数量,値段2,約定金額,指成区分,RBE注文種別,顧客ID
2558,20150917130141,6,K,2461,3,0,100,0.0,100,0.0,78500,N,,3010128708
2561,20150917133640,6,U,2461,3,0,100,0.0,100,0.0,78900,N,,3010128708
2562,20150917133729,G,K,2461,3,0,100,785.0,100,785.0,78500,,,3010128708
2563,20150917134736,G,U,2461,3,0,100,789.0,100,789.0,78900,,,3010128708
2564,20150917142231,6,K,2461,3,0,100,0.0,100,0.0,78900,N,,3010128708
2569,20150918091233,6,U,2461,3,0,100,0.0,100,0.0,79800,N,,3010128708
2571,20150918091405,G,K,2461,3,0,100,789.0,100,789.0,78900,,,3010128708
2572,20150918091736,G,U,2461,3,0,100,798.0,100,798.0,79800,,,3010128708
2576,20150924133201,6,K,2461,3,0,100,0.0,100,0.0,77600,N,,3010128708
2580,20150925090437,7,U,2461,3,0,100,0.0,100,0.0,77900,N,,3010128708

(10, 25)

### 顧客損益比較グラフ作成

作ったExcelと同じになるか実験してみる

### 全取引テーブルを顧客・銘柄で分割して、日付順に並んだDFを関数にかけて、戻ってきたDFを最後に結合する

In [385]:
df = sample_customer_df.copy()

終値調整値結合

In [386]:
df = pd.merge(df, stock_201509, on='マーケット発注日', how='inner')
df

,注文ID,基準日,部店コード,口座番号,EC受注番号,注文/約定日時,マーケット発注日,取引種類,売買区分,銘柄コード,取引,市場,数量,値段1,注文期間,注文経路,出来数量,値段2,約定金額,指成区分,RBE注文種別,SOR区分,顧客ID,isMargin,isCash,終値調整値
0,3010128708_173604_20150917130141,20150917,301,0128708,173604,20150917130141,20150917,6,K,2461,3,0,100,0.0,20150917,,100,0.0,78500,N,,,3010128708,1,0,791
1,3010128708_174006_20150917133640,20150917,301,0128708,174006,20150917133640,20150917,6,U,2461,3,0,100,0.0,20150917,,100,0.0,78900,N,,,3010128708,1,0,791
2,3010128708_174017_20150917133729,20150917,301,0128708,174017,20150917133729,20150917,G,K,2461,3,0,100,785.0,,,100,785.0,78500,,,,3010128708,1,0,791
3,3010128708_174127_20150917134736,20150917,301,0128708,174127,20150917134736,20150917,G,U,2461,3,0,100,789.0,,,100,789.0,78900,,,,3010128708,1,0,791
4,3010128708_174528_20150917142231,20150917,301,0128708,174528,20150917142231,20150917,6,K,2461,3,0,100,0.0,20150917,,100,0.0,78900,N,,,3010128708,1,0,791
5,3010128708_177482_20150918091233,20150918,301,0128708,177482,20150918091233,20150918,6,U,2461,3,0,100,0.0,20150918,,100,0.0,79800,N,,,3010128708,1,0,789
6,3010128708_177551_20150918091405,20150918,301,0128708,177551,20150918091405,20150918,G,K,2461,3,0,100,789.0,,,100,789.0,78900,,,,3010128708,1,0,789
7,3010128708_177664_20150918091736,20150918,301,0128708,177664,20150918091736,20150918,G,U,2461,3,0,100,798.0,,,100,798.0,79800,,,,3010128708,1,0,789
8,3010128708_189340_20150924133201,20150924,301,0128708,189340,20150924133201,20150924,6,K,2461,3,0,100,0.0,20150924,,100,0.0,77600,N,,,3010128708,1,0,767
9,3010128708_192836_20150925090437,20150925,301,0128708,192836,20150925090437,20150925,7,U,2461,3,0,100,0.0,20150925,,100,0.0,77900,N,,,3010128708,1,0,785

In [420]:
def mergin_buy_fill_value(df, col, kind, seg):
    #買い取引の場合
    #信用買い変動補正前
    data = df[(df['取引種類'] == kind) & (df['売買区分'] == seg)]['出来数量']
    idx = data.index
    val = data.values
    if kind == '6' and seg == 'K':
        df.loc[idx, col] = val
    elif kind == '7' and seg == 'U':
        df.loc[idx, col] = -val
    elif kind == 'G' and seg == 'K':
        df.loc[idx, col] = -val
    return df.fillna(0)

def mergin_sell_fill_value(df, col, kind, seg): 
    data = df[(df['取引種類'] == kind) & (df['売買区分'] == seg)]['出来数量']
    idx = data.index
    val = data.values
    #売り取引の場合
    #信用売り変動補正前
    if kind == '7' and seg == 'K':
        df.loc[idx, col] = val
    elif kind == '6' and seg == 'U':
        df.loc[idx, col] = -val
    elif kind == 'G' and seg == 'U':
        df.loc[idx, col] = val
    return df.fillna(0)


def cash_fill_value(df, col, kind, seg):
    #現物取引の場合
        data = df[(df['取引種類'] == kind) & (df['売買区分'] == seg)]['出来数量']
        idx = data.index
        val = data.values
        if seg == 'K':
            df.loc[idx, col] = val
        else:
            df.loc[idx, col] = -val
        return df.fillna(0)

# cumsumの再実装
def cumsum_max0(df, col):
    result = [df[col].iloc[0]]
    for idx, val in enumerate(df[col].iloc[1:], 1):
        ans = result[idx-1] + val
        result.append(max(0, ans))
    return np.array(result)

def cumsum_min0(df, col):
    result = [df[col].iloc[0]]
    for idx, val in enumerate(df[col].iloc[1:], 1):
        ans = result[idx-1] + val
        result.append(min(0, ans))
    return np.array(result)

In [429]:
def create_profit_calc_table(df, return_table=True):
    #現物取引
    df = cash_fill_value(df, '現物変動補正前', '1', 'K')
    df = cash_fill_value(df, '現物変動補正前', '5', 'K')
    df = cash_fill_value(df, '現物変動補正前', 'G', 'K')
    df = cash_fill_value(df, '現物変動補正前', '1', 'U')
    df = cash_fill_value(df, '現物変動補正前', '5', 'U')
    df = cash_fill_value(df, '現物変動補正前', 'G', 'U')
    df['現物'] = cumsum_max0(df, '現物変動補正前')
    df['現物変動'] = df['現物'] - df['現物'].shift(1).fillna(0)
    df.iloc[:14][['取引種類', '売買区分', '出来数量', '値段2', '約定金額','終値調整値','現物', '現物変動']]

    #信用買い取引
    df = mergin_buy_fill_value(df, '信用買い変動補正前', '6', 'K')
    df = mergin_buy_fill_value(df, '信用買い変動補正前', '7', 'U')
    df = mergin_buy_fill_value(df, '信用買い変動補正前', 'G', 'K')
    df['信用買い'] = cumsum_max0(df, '信用買い変動補正前')
    df['信用買い変動'] = df['信用買い'] - df['信用買い'].shift(1).fillna(0)
    df.iloc[:14][['取引種類', '売買区分', '出来数量', '値段2', '約定金額','終値調整値','信用買い','信用買い変動補正前', '信用買い変動']]

    #信用売り取引
    df = mergin_sell_fill_value(df, '信用売り変動補正前', '7', 'K')
    df = mergin_sell_fill_value(df, '信用売り変動補正前', '6', 'U')
    df = mergin_sell_fill_value(df, '信用売り変動補正前', 'G', 'U')
    df['信用売り'] = cumsum_min0(df, '信用売り変動補正前')
    df['信用売り変動'] = df['信用売り'] - df['信用売り'].shift(1).fillna(0)
    df.iloc[:14][['取引種類', '売買区分', '出来数量', '値段2', '約定金額','終値調整値','信用買い', '現物', '信用売り', '信用売り変動']]

    #株価評価額
    df['株価評価額'] = df['終値調整値'] * (df['現物'] + df['信用買い'] + df['信用売り'])
    df['株価評価額変動'] = df['株価評価額'] - df['株価評価額'].shift(1).fillna(0)
    df.iloc[:14][['取引種類', '売買区分', '出来数量', '値段2', '約定金額','終値調整値', '信用買い', '現物', '信用売り', '株価評価額', '株価評価額変動']]

    #全株保有数
    df['全株保有数変動'] = df['現物変動'] + df['信用買い変動'] + df['信用売り変動']

    #残高
    df['現金変動'] = -1 * df['約定金額'] * (df['全株保有数変動'] / df['出来数量'])
    df['現金'] = df['現金変動'].cumsum()
    df.iloc[:14][['取引種類', '売買区分', '出来数量', '値段2', '約定金額','終値調整値', '信用買い', '現物', '信用売り', '株価評価額', '株価評価額変動', '現金', '現金変動']]

    #合計評価額
    df['評価額'] = df['株価評価額'] + df['現金']
    df['評価額変動'] = df['株価評価額変動'] + df['現金変動']
    df.iloc[:14][['取引種類', '売買区分', '出来数量', '値段2', '約定金額','終値調整値', '信用買い', '現物', 
                  '信用売り', '株価評価額', '株価評価額変動', '現金', '現金変動', '評価額', '評価額変動']]
    
    #儲け計算
    customer_profit = df['評価額'].iloc[-1] / (df['現金'].max() - min(0, df['現金'].min()))
    
    if return_table == True:
        return df, customer_profit
    else:
        customer_profit

  取引種類 売買区分  出来数量    値段2   約定金額  終値調整値     現物   現物変動
0    6    K   100    0.0  78500  791.0    0.0    0.0
1    6    U   100    0.0  78900  791.0    0.0    0.0
2    G    K   100  785.0  78500  791.0  100.0  100.0
3    G    U   100  789.0  78900  791.0    0.0 -100.0
4    6    K   100    0.0  78900  791.0    0.0    0.0
5    6    U   100    0.0  79800  789.0    0.0    0.0
6    G    K   100  789.0  78900  789.0  100.0  100.0
7    G    U   100  798.0  79800  789.0    0.0 -100.0
8    6    K   100    0.0  77600  767.0    0.0    0.0
9    7    U   100    0.0  77900  785.0    0.0    0.0

### 取引テーブルの結合

In [ ]:
stock_df['date'].dtypes
stock_df['date'] = pd.to_datetime(stock_df['date'])
stock_201509 = pd.DataFrame([stock_df['date'].dt.strftime('%Y%m%d'), stock_df['終値調整値']]).T
stock_201509.columns = ['マーケット発注日', '終値調整値']
stock_201509

In [ ]:
group_list = ['顧客ID', '銘柄コード', 'date']
customer_cnt = customer_df.groupby(group_list).agg({'顧客ID': 'count' , 'isMargin': 'max', 'isCash': 'max'})
customer_cnt.columns = ['tran_count', 'isMargin', 'isCash']
customer_cnt

In [ ]:
df = pd.merge(df, stock_df, on=['マーケット発注日', '銘柄コード'] how='inner')